<html>
<head>
	<title></title>
	<script src="https://vkontakte.ru/js/api/openapi.js" type="text/javascript"></script>
	<script src="../base64.js"></script>
	<script>
		window.onload = function() {
			console.log('onload');
			
			VK.init({
				apiId: 4170375
			});
			
			var uploadElem = document.getElementById('upload');
			var uploadUrl;
			var imageData;
			
			VK.Api.call('photos.getWallUploadServer', { v: 5.9 }, function(data) {
				var response = data.response;
				uploadUrl = response.upload_url;
				console.log(uploadUrl);
				
				var imgElem = document.getElementById('img');
				var imgSrc = imgElem.src;
				var request = new XMLHttpRequest();
				
				request.open('GET', imgSrc, true);
				request.onload = function() {
					console.log('complete');
					imageData = request.responseText;
					uploadElem.classList.remove('hidden');
				};
				request.send(null);
				
			});
			
			uploadElem.addEventListener('click', function() {
				var generatorUrl = "https://www.bazelevscontent.net:8893";
				var messageUrl = "https://c9.io/stv909/wmm/workspace/FrontEnd/templates/share.html?ids=msg.1e856a06-6170-4b44-a7d6-41f46c273675";
				var data = {
					url: messageUrl,
					imageFormat: "png",
					scale: 1,
					contentType: 'share',
				};
				var rawData = JSON.stringify(data);
				var payload = "type=render&data=" + encodeURIComponent(rawData);
				var request = new XMLHttpRequest();
				request.open('POST', generatorUrl);
				request.onload = function() {
					console.log(request.responseText);
				};
				request.send(payload);
				
				// var imgElem = document.getElementById('img');
				// var imgSrc = imgElem.src;
				// var request = new XMLHttpRequest();
				// var requestData = {
				// 	uri: uploadUrl,
				// 	file1: imgSrc
				// };
				// var requestBody= JSON.stringify(requestData, null, 4);
				// request.open('POST', 'https://wmm-c9-stv909.c9.io');
				// request.onload = function() {
				// 	console.log(request.responseText);	
				// };
				// request.send(requestBody);
			});
		};
	</script>
	<style>
		.hidden {
			display: none;
		}
	</style>
</head>
<body>
	<img src="http://i.imgur.com/bTxkC0v.jpg" style="display:none" id="img">
	<button id="upload">Upload</button>
</body>
</html>