html,
body {
  font-family: 'Segoe UI';
}
.hidden {
  display: none !important;
}
.main-container {
  width: 50em;
  margin: 0 auto;
  position: relative;
}
#menu {
  display: block;
  background-color: #222;
}
#menu .logo,
#menu .account {
  display: table-cell;
  height: 100%;
}
#menu .logo-first,
#menu .logo-second {
  display: inline-block;
}
#menu .logo-first {
  color: #fff;
  padding-right: 0.15em;
}
#menu .logo-second {
  color: #28f;
}
#menu .logo-holder:hover {
  text-shadow: 0 0 0.5em #888;
  cursor: pointer;
}
#menu .logo {
  width: 100%;
}
#menu .account {
  width: 1px;
  white-space: nowrap;
}
#menu .name {
  color: #bbb;
  display: table-cell;
  font-size: 0.9em;
  padding: 0.75em;
}
#menu .control {
  display: table-cell;
  font-size: 0.9em;
  padding: 0.75em;
  color: #fff;
  background-color: #222;
  cursor: pointer;
}
#menu .control:hover {
  background-color: #555;
}
#menu .control:active {
  color: #222;
  background-color: #efefef;
}
#wall-holder .main-container {
  background-color: #fff;
}
#tools {
  font-size: 1.1em;
  padding-top: 1em;
  padding-bottom: 1em;
}
#tools .create-message,
#tools .choose-wall,
#tools .wall-status,
#tools .wall-name {
  display: inline-block;
}
#tools .create-message,
#tools .choose-wall {
  float: right;
  margin-left: 1em;
  color: #28f;
  cursor: pointer;
  text-decoration: underline;
}
#tools .create-message:hover,
#tools .choose-wall:hover {
  color: #4af;
}
#tools .wall-name {
  font-weight: bold;
}
.dialog-background {
  display: table;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}
.dialog-background .dialog-wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.dialog-background .dialog-wrapper .dialog-window {
  display: inline-block;
  background-color: #fff;
  box-shadow: 0 0 5em #444;
}
.dialog-background .dialog-wrapper .dialog-window .title-holder {
  color: #fff;
  background-color: #222;
  height: 2.5em;
}
.dialog-background .dialog-wrapper .dialog-window .title-holder .title {
  line-height: 2.5em;
}
.dialog-background .dialog-wrapper .dialog-window .content {
  width: 100%;
}
#choose-wall-window {
  width: 40em;
  height: 30em;
}
#choose-wall-window .friend-list {
  box-sizing: border-box;
  width: 100%;
  height: 27.5em;
  overflow: scroll;
}
#choose-wall-window .friend-list .friend {
  font-size: 0.9em;
  padding: 0.75em;
  border-bottom: 1px solid #ddd;
  text-align: left;
  cursor: pointer;
}
#choose-wall-window .friend-list .friend:hover {
  color: #fff;
  background-color: #28f;
}
#wall {
  color: #000;
}
#wall .wall-item {
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
}
#wall .wall-item .date-holder,
#wall .wall-item .content-holder {
  display: inline-block;
  text-align: justify;
  vertical-align: top;
}
#wall .wall-item .date-holder {
  width: 4em;
  text-align: left;
}
#wall .wall-item .date {
  display: inline-block;
  color: #fff;
  background-color: #222;
  padding: 0.25em;
}
#wall .wall-item .year {
  font-weight: bold;
  font-size: 1.1em;
}
#wall .wall-item .content-holder {
  padding-top: 0.25em;
  width: 45em;
}
#wall .wall-item .content-holder p {
  font-size: 0.9em;
  margin-top: 0;
  padding-top: 0;
}
#wall .wall-item .text {
  font-weight: normal;
  padding-bottom: 0.5em;
}
#galary {
  background-color: #eee;
  border-bottom: 1px solid #ddd;
}
#galary .wrapper {
  height: 7em;
  padding-left: 1em;
  padding-right: 1em;
  overflow: hidden;
  white-space: nowrap;
}
#galary .wrapper .preview-item {
  vertical-align: top;
  margin-top: 1em;
  margin-right: 1em;
  display: inline-block;
  width: 7em;
  height: 5em;
  background-color: #aaa;
  border: 4px solid #fff;
  cursor: pointer;
  box-shadow: 0 0 0.1em #888;
}
#galary .wrapper .preview-item:hover {
  box-shadow: 0 0 0.5em #222;
}
#galary .wrapper .preview-item img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: 1px solid #efefef;
}
#galary .tools {
  text-align: center;
  padding-bottom: 0.5em;
}
#galary .tools .send-button {
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
  color: #06f;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
#galary .tools .send-button:hover {
  color: #4af;
}
