<!DOCTYPE html>
<html>
  <head>
    <script src="https://vkontakte.ru/js/api/openapi.js"></script>
    <script src="../html.js"></script>
    <script src="../event.js"></script>
    <script src="../abyss.js"></script>
    <script src="vk.js"></script>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/fonts.css">
    <link rel="stylesheet" href="vk.css">
  </head>
  <body>
    <div id="page">
      <div id="menu">
        <div class="main-container">
          <div class="logo"><span class="logo-holder">
              <div class="logo-first">VK</div>
              <div class="logo-second">Integration</div></span></div>
          <div class="account">
            <div class="name">Welcome, Shadeglare</div>
            <div class="control login hidden">Login via VK</div>
            <div class="control logout">Logout</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>