<!DOCTYPE html>
<html>
  <head>
    <script src="https://vkontakte.ru/js/api/openapi.js"></script>
    <script src="../html.js"></script>
    <script src="../template.js"></script>
    <script src="../eve.js"></script>
    <script src="../abyss.js"></script>
    <script src="vk.js"></script>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/fonts.css">
    <link rel="stylesheet" href="vk.css">
  </head>
  <body>
    <template id="account-template" style="display: none">
      <div class="name hidden"></div>
      <div class="control login">Login via VK</div>
      <div class="control logout hidden">Logout</div>
    </template>
    <div id="page">
      <div id="menu">
        <div class="main-container">
          <div class="logo"><span class="logo-holder">
              <div class="logo-first">VK</div>
              <div class="logo-second">Integration</div></span></div>
        </div>
      </div>
      <div id="wall">
        <div class="main-container"></div>
      </div>
    </div>
  </body>
</html>