<!DOCTYPE html>
<html>
  <head>
    <script src="https://vkontakte.ru/js/api/openapi.js"></script>
    <script src="../html.js"></script>
    <script src="../template.js"></script>
    <script src="../eve.js"></script>
    <script src="../abyss.js"></script>
    <script src="vk.js"></script>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/fonts.css">
    <link rel="stylesheet" href="vk.css">
  </head>
  <body>
    <template id="account-template" style="display: none">
      <div class="name hidden"></div>
      <div class="control login">Login via VK</div>
      <div class="control logout hidden">Logout</div>
    </template>
    <template id="tools-template" style="display: none">
      <div class="wall-status">Current wall:</div>
      <div class="wall-name">My</div>
      <div class="choose-wall">Choose wall</div>
      <div class="create-message hidden">Create message</div>
    </template>
    <template id="choose-wall-template" style="display: none">
      <div class="dialog-wrapper">
        <div id="choose-wall-window" class="dialog-window">
          <div class="title-holder">
            <div class="title">Choose wall</div>
          </div>
          <div class="content">
            <div class="friend-list"></div>
          </div>
        </div>
      </div>
    </template>
    <template id="friend-template" style="display: none">
      <div class="name"></div>
    </template>
    <template id="wall-template" style="display: none"></template>
    <template id="wall-item-template" style="display: none">
      <div class="date-holder">
        <div class="date"></div>
      </div>
      <div class="content-holder">
        <div class="text"></div>
      </div>
    </template>
    <template id="galary-template" style="display: none">
      <div class="wrapper">
        <div class="preview-item"><img src="http://upload.wikimedia.org/wikipedia/commons/b/b3/Steampunk_Brass_Spider.jpg"/></div>
        <div class="preview-item"><img src="http://cdn.alltheragefaces.com/img/faces/large/annoyed-facepalm-picard-l.png"/></div>
        <div class="preview-item"><img src="http://multgubkabob.ru/data/uploads/pic/29.jpg"/></div>
        <div class="preview-item"></div>
        <div class="preview-item"></div>
        <div class="preview-item"></div>
        <div class="preview-item"></div>
        <div class="preview-item"></div>
        <div class="preview-item"></div>
        <div class="preview-item"></div>
        <div class="preview-item"></div>
        <div class="preview-item"></div>
      </div>
      <div class="tools">
        <div class="send-button">Send</div>
      </div>
    </template>
    <div id="page">
      <div id="menu">
        <div class="main-container">
          <div class="logo"><span class="logo-holder">
              <div class="logo-first">VK</div>
              <div class="logo-second">Integration</div></span></div>
        </div>
      </div>
      <div id="wall-holder">
        <div class="main-container"></div>
      </div>
    </div>
  </body>
</html>