mixin account-template
	template#account-template(style="display: none")
		.name.hidden
		.control.login Login via VK
		.control.logout.hidden Logout
mixin tools-template
	template#tools-template(style="display: none")
		.wall-status Current wall:
		.wall-name My
		.choose-wall Choose wall
		.create-message Create message
mixin choose-wall-template
	template#choose-wall-template(style="display: none")
			.dialog-wrapper
				#choose-wall-window.dialog-window
					.title-holder
						.title Choose wall
					.content
						.friend-list
mixin friend-template
	template#friend-template(style="display: none")
		.name

doctype html
html
	head
		script(src="https://vkontakte.ru/js/api/openapi.js")
		script(src="../html.js")
		script(src="../template.js")
		script(src="../eve.js")
		script(src="../abyss.js")
		script(src="vk.js")
		link(rel="stylesheet", href="../styles/reset.css")
		link(rel="stylesheet", href="../styles/fonts.css")
		link(rel="stylesheet", href="vk.css")
	body
		+account-template
		+tools-template
		+choose-wall-template
		+friend-template
		#page
			#menu
				.main-container
					.logo
						span.logo-holder
							.logo-first VK
							.logo-second Integration
			#wall
				.main-container
