doctype html
html
	head
		script(src="https://vkontakte.ru/js/api/openapi.js")
		script(src="../event.js")
		script(src="../abyss.js")
		script(src="vk.js")
		link(rel="stylysheet", src="vk.css")
	body
