mixin account-template
	template#account-template(style="display: none")
		.name.hidden
		.control.login Login via VK
		.control.logout.hidden Logout
mixin tools-template
	template#tools-template(style="display: none")
		.wall-status Current wall:
		.wall-name My
		.choose-wall Choose wall
		.create-message.hidden Create message
mixin choose-wall-template
	template#choose-wall-template(style="display: none")
			.dialog-wrapper
				#choose-wall-window.dialog-window
					.title-holder
						.title Choose wall
					.content
						.friend-list
mixin friend-template
	template#friend-template(style="display: none")
		.name
mixin wall-template
	template#wall-template(style="display: none")
mixin wall-item-template
	template#wall-item-template(style="display: none")
		.date-holder
			.date
		.content-holder
			.text
mixin galary-template
	template#galary-template(style="display: none")
		.wrapper
			.preview-item
				img(src="http://upload.wikimedia.org/wikipedia/commons/b/b3/Steampunk_Brass_Spider.jpg")
			.preview-item
				img(src="http://cdn.alltheragefaces.com/img/faces/large/annoyed-facepalm-picard-l.png")
			.preview-item
				img(src="http://multgubkabob.ru/data/uploads/pic/29.jpg")
			.preview-item
			.preview-item
			.preview-item
			.preview-item
			.preview-item
			.preview-item
			.preview-item
			.preview-item
			.preview-item
		.tools
			.send-button Send
		
doctype html
html
	head
		script(src="https://vkontakte.ru/js/api/openapi.js")
		script(type="text/javascript", src="https://vkontakte.ru/js/api/share.js?9", charset="windows-1251")
		script(src="../html.js")
		script(src="../template.js")
		script(src="../eve.js")
		script(src="../abyss.js")
		script(src="vk.js")
		link(rel="stylesheet", href="../styles/reset.css")
		link(rel="stylesheet", href="../styles/fonts.css")
		link(rel="stylesheet", href="vk.css")
	body
		+account-template
		+tools-template
		+choose-wall-template
		+friend-template
		+wall-template
		+wall-item-template
		+galary-template
		#page
			#share
			#menu
				.main-container
					.logo
						span.logo-holder
							.logo-first VK
							.logo-second Integration
			#wall-holder
				.main-container
