html, body
	font-family 'Segoe UI'

.hidden
	display none !important

.main-container
	width 50em
	margin 0 auto
	position relative
#menu
	display block
	background-color #222
	.logo, .account
		display table-cell
		height 100%
	.logo-first, .logo-second
		display inline-block
	.logo-first
		color #fff
		padding-right 0.15em
	.logo-second
		color #2288ff
	.logo-holder
		&:hover
			text-shadow 0 0 0.5em #888
			cursor pointer
	.logo
		width 100%
	.account
		width 1px
		white-space nowrap
	.name
		color #bbb
		display table-cell
		font-size 0.9em
		padding 0.75em
	.control
		display table-cell
		font-size 0.9em
		padding 0.75em
		color #fff
		background-color #222
		cursor pointer
		&:hover
			background-color #555
		&:active
			color #222
			background-color #efefef
#wall
	.main-container
		background-color #fff
#tools
	padding-top 0.75em
	padding-bottom 0.75em
	.create-message, .choose-wall, .wall-status, .wall-name
		display inline-block
	.create-message, .choose-wall
		float right
		margin-left 1em
		color #2288ff
		cursor pointer
		text-decoration underline
		&:hover
			color #44aaff
	.wall-name
		font-weight bold

.dialog-background
	display table
	position fixed
	top 0
	bottom 0
	left 0
	right 0
	width 100%
	height 100%
	background-color rgba(0, 0, 0, 0.5)
	.dialog-wrapper
		display table-cell
		vertical-align middle
		text-align center
		.dialog-window
			display inline-block
			background-color white
			box-shadow 0 0 5em #444
			.title-holder
				color white
				background-color #222
				height 2.5em
				.title
					line-height 2.5em
			.content
				width 100%
#choose-wall-window
	width 40em
	height 30em
	.friend-list
		box-sizing border-box
		width 100%
		height 25em
		.friend
			.name
				color black
