html, body
	font-family 'Segoe UI'
	overflow-x hidden

.hidden
	display none !important

.main-container
	width 50em
	margin 0 auto
	position relative
#menu
	display block
	background-color #222
	.logo, .account
		display table-cell
		height 100%
	.logo-first, .logo-second
		display inline-block
	.logo-first
		color #fff
		padding-right 0.15em
	.logo-second
		color #2288ff
	.logo-holder
		&:hover
			text-shadow 0 0 0.5em #888
			cursor pointer
	.logo
		width 100%
	.account
		width 1px
		white-space nowrap
	.name
		color #bbb
		display table-cell
		font-size 0.9em
		padding 0.75em
	.control
		display table-cell
		font-size 0.9em
		padding 0.75em
		color #fff
		background-color #222
		cursor pointer
		&:hover
			background-color #555
		&:active
			color #222
			background-color #efefef
#wall-holder
	.main-container
		background-color #fff
#tools
	font-size 1.1em
	padding-top 1em
	padding-bottom 1em
	.create-message, .choose-wall, .wall-status, .wall-name
		display inline-block
	.create-message, .choose-wall
		float right
		margin-left 1em
		color #2288ff
		cursor pointer
		text-decoration underline
		&:hover
			color #44aaff
	.wall-name
		font-weight bold

.dialog-background
	display table
	position fixed
	top 0
	bottom 0
	left 0
	right 0
	width 100%
	height 100%
	background-color rgba(0, 0, 0, 0.5)
	.dialog-wrapper
		display table-cell
		vertical-align middle
		text-align center
		.dialog-window
			display inline-block
			background-color white
			box-shadow 0 0 5em #444
			.title-holder
				color white
				background-color #222
				height 2.5em
				.title
					line-height 2.5em
			.content
				width 100%
#choose-wall-window
	width 40em
	height 30em
	.friend-list
		box-sizing border-box
		width 100%
		height 27.5em
		overflow scroll
		overflow-x hidden
		.friend
			font-size 0.9em
			padding 0.75em
			border-bottom 1px solid #ddd
			text-align left
			cursor pointer
			&:hover
				color white
				background-color #2288ff
#wall
	color black
	.wall-item
		padding-bottom 1em
		border-bottom 1px solid #ccc
		margin-bottom 1em
		.date-holder, .content-holder
			display inline-block
			text-align justify
			vertical-align top
		.date-holder
			width 4em
			text-align left
		.date
			display inline-block
			color white
			background-color #222
			padding 0.25em
		.year
			font-weight bold
			font-size 1.1em
		.content-holder
			padding-top 0.25em
			width 45em
			p
				font-size 0.9em
				margin-top 0
				padding-top 0
		.text
			font-weight normal
			padding-bottom 0.5em
#galary
	background-color #eee
	border-bottom 1px solid #ddd
	.wrapper
		height 7em
		padding-left 1em
		padding-right 1em
		overflow hidden
		white-space nowrap
		.preview-item
			vertical-align top
			margin-top 1em
			margin-right 1em
			display inline-block
			width 7em
			height 5em
			background-color #aaa
			border 4px solid #fff
			cursor pointer
			box-shadow 0 0 0.1em #888
			&:hover
				box-shadow 0 0 0.5em #222
			img
				margin 0
				padding 0
				width 100%
				height 100%
				outline 1px solid #efefef
	.tools
		text-align center
		padding-bottom 0.5em
		.send-button
			text-decoration underline
			cursor pointer
			display inline-block
			color #0066ff
			padding-left 0.5em
			padding-right 0.5em
			padding-top 0.25em
			padding-bottom 0.25em
			&:hover
				color #44aaff
				
