* {
  outline: none;
}
@font-face {
  font-family: 'Segoe UI';
  src: url("http://i.s-microsoft.com/fonts/segoe-ui/cyrillic/light/latest.woff");
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI';
}
.hidden {
  display: none !important;
}
.no-overflow {
  overflow: hidden;
}
#wait {
  z-index: 10;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.8);
  display: table;
  width: 100%;
  height: 100%;
}
#wait .status {
  display: table-cell;
  vertical-align: middle;
  font-size: 18px;
  width: 100%;
  text-align: center;
  color: #fff;
}
#menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 50px;
  background-color: #1570a6;
  color: #fff;
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;
  vertical-align: middle;
}
#menu .logo {
  float: left;
  position: absolute;
  font-size: 20px;
  display: inline-block;
  line-height: 30px;
}
#update {
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
  line-height: 30px;
  background-color: #2c2;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 16px;
}
#update:hover {
  text-shadow: 0 0 2px #fff;
}
#update:active {
  background-color: #5b5;
}
#filters {
  width: 100%;
  display: inline-block;
  text-align: center;
  height: 30px;
}
#filters .datepicker {
  vertical-align: top;
  border: none;
  font-size: 14px;
  font-family: 'Segoe UI';
  height: 100%;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
#page {
  margin-top: 50px;
  padding: 20px 20px 10px 20px;
}
.message {
  vertical-align: top;
  font-size: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  display: inline-block;
}
.message .content {
  margin: 10px;
  width: 403px;
  height: 403px;
  border: 1px solid #ddd;
}
.message .controls {
  width: 100%;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}
.message .controls a {
  color: #1570a6;
}
.message .controls a:hover {
  color: #51ace2;
}
.message .sender-control,
.message .receiver-control {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}
