main-menu-color = rgb(21, 112, 166)
main-color = rgb(21, 112, 166)
hover-main-color = rgb(81, 172, 226)

menu-height = 50px
menu-padding = 10px 20px 10px 20px
page-padding = 20px 20px 10px 20px

user-select(value)
	-webkit-user-select value
	user-select value
*
	outline none
@font-face
	font-family 'Segoe UI'
	src url('http://i.s-microsoft.com/fonts/segoe-ui/cyrillic/light/latest.woff')
html, body
	margin 0
	padding 0
	font-family 'Segoe UI'
.hidden
	display none !important
.no-overflow
	overflow hidden
#wait
	z-index 10000
	position fixed
	top 0
	bottom 0
	left 0
	right 0
	background-color rgba(0, 0, 0, 0.8)
	display table
	width 100%
	height 100%
	.status
		display table-cell
		vertical-align middle
		font-size 18px
		width 100%
		text-align center
		color white
#menu
	z-index 1000
	position fixed
	top 0
	right 0
	width 100%
	height menu-height
	background-color main-menu-color
	color white
	padding menu-padding
	box-sizing border-box
	vertical-align middle
	.logo
		float left
		position absolute
		font-size 20px
		display inline-block
		line-height menu-height - 2 * menu-padding
#update
	user-select(none)
	display inline-block
	line-height menu-height - 2 * menu-padding
	background-color #22cc22
	height menu-height - 2 * menu-padding
	padding-left 10px
	padding-right 10px
	margin-left 5px
	cursor pointer
	font-size 16px
	&:hover
		text-shadow 0 0 2px white
	&:active
		background-color #55bb55
#filters
	width 100%
	display inline-block
	text-align center
	height menu-height - 2 * menu-padding
	.datepicker
		vertical-align top
		border none
		font-size 14px
		font-family 'Segoe UI'
		height 100%
		line-height menu-height - 2 * menu-padding
		padding-left 10px
		padding-right 10px
#page
	margin-top menu-height
	padding page-padding
	text-align center
.message
	vertical-align top
	font-size 0px
	margin-right 10px
	margin-bottom 10px
	border 1px solid #ddd
	display inline-block
	&.normal
		cursor pointer
		&:hover
			border 1px solid main-color
	&.chosen
		border 1px solid main-color
		box-shadow 0 0 5px main-color
	.content
		margin 10px
		width 403px
		height 403px
		border 1px solid #ddd
		font-size 14px
		position relative
	.controls
		width 100%
		font-size 16px
		text-align center
		margin-bottom 10px
		a
			color main-color
			&:hover
				color hover-main-color
	.sender-control, .receiver-control
		display inline-block
		margin-left: 5px
		margin-right: 5px
		
	