<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="theme4.css">
  <!--<link rel="stylesheet" href="../chat.css">-->
  <script>
    window.onload = function() {

      var checkOverflow = function(elem) {

        elem.style.overflow = "auto";

        var scrollHeight = elem.scrollHeight;
        var scrollWidth = elem.scrollWidth;

        var height = elem.clientHeight;
        var width = elem.clientWidth;

        var isOverflowY = scrollHeight > height;
        var isOverflowX = scrollWidth > width;
        var isOverflow = isOverflowX || isOverflowY;

        if (isOverflow) {
          elem.style.border = "1px solid #FF0000";
        } else {
          elem.style.border = "1px solid #FFFFFF";
        }
        elem.style.overflow = "hidden";

      };

      var sendButton = document.getElementById("send");
      var clearButton = document.getElementById("clear");

      clearButton.addEventListener("click", function(e) {
        var messageContent = document.getElementById("message-content");
        messageContent.innerHTML = "";
      });

      sendButton.addEventListener("click", function(e) {
        var messageContent = document.getElementById("message-content");
        var messageHtml = messageContent.innerHTML;

        var messages = document.getElementById("messages");

        var message = document.createElement("div");
        message.className = "message-item";
        message.innerHTML =
            '<div class="contact">' +
            '<div class="avatar">' +
            '<img src="http://lh6.googleusercontent.com/-DC1JTtJ1xDI/AAAAAAAAAAI/AAAAAAAAF6I/SBSyjz8mcTA/s512-c/photo.jpg">' +
            '</div>' +
        '</div>' +
        '<div class="message">' +
            '<div class="message-wrap">' +
            messageHtml +
            '</div>' +
        '</div>' +
        '<div class="tools">' +
            '<div class="time">' +
            '<img class="time-icon" src="time.svg">' +
            '<span class="time-value">21:30</span>' +
        '</div>' +
        '<div class="simple-button">edit</div>' +
        '<div class="simple-button">share</div>' +
        '<div class="simple-button fullscreen">fullscreen</div>' +
        '<div class="simple-button negative">delete</div>' +
        '</div>';

        messages.appendChild(message);

        var fullScreenButton = message.getElementsByClassName("fullscreen")[0];
        var content = message.getElementsByClassName("message-wrap")[0];
        checkOverflow(content);

        fullScreenButton.addEventListener("click", function(e) {
          var fullScreenContent = document.getElementById("fullscreenContent");
          fullScreenContent.innerHTML = content.innerHTML;
          window.open('#fullscreenView', '_self');
        });

      });

      var fullScreenButtons = document.getElementsByClassName("fullscreen");
      for (var i = 0; i < fullScreenButtons.length; i++) {
        (function(i) {
          var fullScreenButton = fullScreenButtons[i];
          var content = document.getElementById("message" + i);
          checkOverflow(content);
          fullScreenButton.addEventListener("click", function(e) {
            var fullScreenContent = document.getElementById("fullscreenContent");
            fullScreenContent.innerHTML = content.innerHTML;
            window.open('#fullscreenView', '_self');
          });
        })(i);
      }
    };
  </script>
</head>
<body>
  <div id="fullscreenView" class="modalDialog">
    <div style="padding: 16px">
      <a href="#" title="Close" class="close">X</a>
      <div id="fullscreenContent" style="overflow: auto; height: 100%; display: block">
      </div>
    </div>
  </div>
  <div id="page">
    <div>
      <div id="menu">
        <div class="label">Messenger Prototype Layout</div>
      </div>
      <div id="workspace">
        <div>
          <div class="row" id="titles">
            <div class="cell">
              <div class="label">Contacts</div>
            </div>
            <div class="cell">
              <div class="label">Chat</div>
            </div>
            <div class="cell">
              <div class="label">Tools</div>
            </div>
          </div>
          <div class="row">
            <div class="cell">
              <div id="contacts">
                <div>
                  <div class="list">
                    <div class="item">Taisha Southwood</div>
                    <div class="item">Charlott Kagawa</div>
                    <div class="item">Dawn Bromley</div>
                    <div class="item">Deshawn Grumbles</div>
                    <div class="item">Emmanuel Chaves</div>
                    <div class="item">Taisha Southwood</div>
                    <div class="item">Charlott Kagawa</div>
                    <div class="item">Taisha Southwood</div>
                    <div class="item">Charlott Kagawa</div>
                    <div class="item">Dawn Bromley</div>
                    <div class="item">Deshawn Grumbles</div>
                    <div class="item">Emmanuel Chaves</div>
                    <div class="item">Taisha Southwood</div>
                    <div class="item">Charlott Kagawa</div>
                    <div class="item">Taisha Southwood</div>
                    <div class="item">Charlott Kagawa</div>
                    <div class="item">Dawn Bromley</div>
                    <div class="item">Deshawn Grumbles</div>
                    <div class="item">Emmanuel Chaves</div>
                    <div class="item">Taisha Southwood</div>
                    <div class="item">Charlott Kagawa</div>
                    <div class="item">Taisha Southwood</div>
                    <div class="item">Charlott Kagawa</div>
                    <div class="item">Charlott Kagawa</div>
                    <div class="item">Dawn Bromley</div>
                    <div class="item">Deshawn Grumbles</div>
                    <div class="item">Emmanuel Chaves</div>
                    <div class="item">Taisha Southwood</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="cell">
              <div id="chat">
                <div>
                  <div id="chat-box">
                    <div>
                      <div id="chat-title">
                        <div>Deshawn Grumbles and Me</div>
                      </div>
                      <div id="message-list">
                        <div>
                          <div class="list" id="messages">
                            <div class="message-item">
                              <div class="contact">
                                <div class="avatar">
                                  <img src="http://lh6.googleusercontent.com/-DC1JTtJ1xDI/AAAAAAAAAAI/AAAAAAAAF6I/SBSyjz8mcTA/s512-c/photo.jpg">
                                </div>
                              </div>
                              <div class="message">
                                <div class="message-wrap" id="message0">
                                  <div>Look here:</div>
                                  <iframe width="590" height="315" src="//www.youtube.com/embed/h5EofwRzit0" frameborder="0" allowfullscreen></iframe>
                                </div>
                              </div>
                              <div class="tools">
                                <div class="time">
                                  <img class="time-icon" src="time.svg">
                                  <span class="time-value">21:30</span>
                                </div>
                                <div class="simple-button">edit</div>
                                <div class="simple-button">share</div>
                                <div class="simple-button fullscreen">fullscreen</div>
                                <div class="simple-button negative">delete</div>
                              </div>
                            </div>
                            <div class="message-item">
                              <div class="contact">
                                <div class="avatar">
                                  <img src="http://lh6.googleusercontent.com/-DC1JTtJ1xDI/AAAAAAAAAAI/AAAAAAAAF6I/SBSyjz8mcTA/s512-c/photo.jpg">
                                </div>
                              </div>
                              <div class="message">
                                <div class="message-wrap" id="message1">
                                  <img src="http://gameseeker.ru/media/screens/455/big-farm_03.jpg">
                                </div>
                              </div>
                              <div class="tools">
                                <div class="time">
                                  <img class="time-icon" src="time.svg">
                                  <span class="time-value">21:30</span>
                                </div>
                                <div class="simple-button">edit</div>
                                <div class="simple-button">share</div>
                                <div class="simple-button fullscreen">fullscreen</div>
                                <div class="simple-button negative">delete</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="message-composer">
                        <div>
                          <div class="message-item">
                            <div class="contact">
                              <div class="avatar">
                                <img src="http://lh6.googleusercontent.com/-DC1JTtJ1xDI/AAAAAAAAAAI/AAAAAAAAF6I/SBSyjz8mcTA/s512-c/photo.jpg">
                              </div>
                            </div>
                            <div class="message">
                              <div class="message-wrap">
                                <div class="content" contenteditable="true" id="message-content">
                                </div>
                              </div>
                            </div>
                            <div class="tools">
                              <div class="simple-button" id="send">send</div>
                              <div class="simple-button negative" id="clear">clear</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="cell">
              <div id="tools">
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
  <!--<div id="main">-->
    <!--<div id="main-layout">-->
      <!--<div id="menu-wrapper">-->
        <!--<div id="menu">Messenger Prototype Layout</div>-->
      <!--</div>-->
      <!--<div id="page-wrapper">-->
        <!--<div id="page">-->
          <!--<div class="page-row" id="titles">-->
            <!--<div class="column-wrapper" id="contacts">-->
              <!--<div class="label">Contacts</div>-->
            <!--</div>-->
            <!--<div class="column-wrapper" id="chat">-->
              <!--<div class="label">Chat</div>-->
            <!--</div>-->
            <!--<div class="column-wrapper" id="templates">-->
              <!--<div class="label">Templates</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="page-row" id="values">-->
            <!--<div class="column-wrapper" style="position: relative">-->
              <!--<div id="contact-list">-->
                <!--<div class="contact-item">Taisha Southwood</div>-->
                <!--<div class="contact-item">Charlott Kagawa</div>-->
                <!--<div class="contact-item">Dawn Bromley</div>-->
                <!--<div class="contact-item">Deshawn Grumbles</div>-->
                <!--<div class="contact-item">Emmanuel Chaves</div>-->
                <!--<div class="contact-item">Taisha Southwood</div>-->
                <!--<div class="contact-item">Charlott Kagawa</div>-->
                <!--<div class="contact-item">Taisha Southwood</div>-->
                <!--<div class="contact-item">Charlott Kagawa</div>-->
                <!--<div class="contact-item">Dawn Bromley</div>-->
                <!--<div class="contact-item">Deshawn Grumbles</div>-->
                <!--<div class="contact-item">Emmanuel Chaves</div>-->
                <!--<div class="contact-item">Taisha Southwood</div>-->
                <!--<div class="contact-item">Charlott Kagawa</div>-->
                <!--<div class="contact-item">Taisha Southwood</div>-->
                <!--<div class="contact-item">Charlott Kagawa</div>-->
                <!--<div class="contact-item">Dawn Bromley</div>-->
                <!--<div class="contact-item">Deshawn Grumbles</div>-->
                <!--<div class="contact-item">Emmanuel Chaves</div>-->
                <!--<div class="contact-item">Taisha Southwood</div>-->
                <!--<div class="contact-item">Charlott Kagawa</div>-->
                <!--<div class="contact-item">Taisha Southwood</div>-->
                <!--<div class="contact-item">Charlott Kagawa</div>-->
                <!--<div class="contact-item">Charlott Kagawa</div>-->
                <!--<div class="contact-item">Dawn Bromley</div>-->
                <!--<div class="contact-item">Deshawn Grumbles</div>-->
                <!--<div class="contact-item">Emmanuel Chaves</div>-->
                <!--<div class="contact-item">Taisha Southwood</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="column-wrapper" style="position: relative">-->
              <!--<div id="chat-box">-->
                <!--<div>-->
                  <!--<div id="chat-title">-->
                    <!--<div>Deshawn Grumbles and Me</div>-->
                  <!--</div>-->
                  <!--<div id="message-list">-->
                    <!--<div>-->
                      <!--<div class="message-item">-->
                        <!--<div class="contact">-->
                          <!--<div class="avatar">-->
                            <!--<img src="http://lh6.googleusercontent.com/-DC1JTtJ1xDI/AAAAAAAAAAI/AAAAAAAAF6I/SBSyjz8mcTA/s512-c/photo.jpg">-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="message">-->
                          <!--<div class="message-wrap">-->
                            <!--Look here:-->
                            <!--<iframe width="590" height="315" src="//www.youtube.com/embed/h5EofwRzit0" frameborder="0" allowfullscreen></iframe>-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="tools">-->
                          <!--<div class="time">-->
                            <!--<img class="time-icon" src="time.svg">-->
                            <!--<span class="time-value">21:30</span>-->
                          <!--</div>-->
                          <!--<div class="simple-button">edit</div>-->
                          <!--<div class="simple-button">share</div>-->
                          <!--<div class="simple-button">fullscreen</div>-->
                          <!--<div class="simple-button negative">delete</div>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="message-item">-->
                        <!--<div class="contact">-->
                          <!--<div class="avatar">-->
                            <!--<img src="http://audiotool.s3.amazonaws.com/users/amaury_aguirre/avatar1/1f866b56-5805-418e-8406-c35ad2827fd1.jpg">-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="message">-->
                          <!--<div class="message-wrap">-->
                            <!--<img src="http://gameseeker.ru/media/screens/455/big-farm_03.jpg">-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="tools">-->
                          <!--<div class="time">-->
                            <!--<img class="time-icon" src="time.svg">-->
                            <!--<span class="time-value">21:30</span>-->
                          <!--</div>-->
                          <!--<div class="simple-button">edit</div>-->
                          <!--<div class="simple-button">share</div>-->
                          <!--<div class="simple-button">fullscreen</div>-->
                          <!--<div class="simple-button negative">delete</div>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="message-item">-->
                        <!--<div class="contact">-->
                          <!--<div class="avatar">-->
                            <!--<img src="http://lh4.googleusercontent.com/-GWO1SPUrt-M/AAAAAAAAAAI/AAAAAAAAAB0/2pNfvHYUYRM/s512-c/photo.jpg">-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="message">-->
                          <!--<div class="message-wrap">-->
                            <!--<h1>Test</h1>-->
                            <!--<div>line of text</div>-->
                            <!--<div>line of text</div>-->
                            <!--<div>line of text</div>-->
                            <!--<div>line of text</div>-->
                            <!--<div>line of text</div>-->
                            <!--<div>line of text</div>-->
                            <!--<div>line of text</div>-->
                            <!--<div>line of text</div>-->
                            <!--<div>line of text</div>-->
                            <!--<div>line of text</div>-->
                            <!--<div>line of text</div>-->
                            <!--<div>line of text</div>-->
                            <!--<div>line of text</div>-->
                            <!--<div>line of text</div>-->
                            <!--<div>line of text</div>-->
                            <!--<div>line of text12</div>-->
                            <!--<div>line of text</div>-->
                            <!--<div>line of text</div>-->
                            <!--<div>line of text. Next line will be hidden</div>-->
                            <!--<div>line of text</div>-->
                            <!--<div>line of text</div>-->
                            <!--<div>line of text</div>-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="tools">-->
                          <!--<div class="time">-->
                            <!--<img class="time-icon" src="time.svg">-->
                            <!--<span class="time-value">21:30</span>-->
                          <!--</div>-->
                          <!--<div class="simple-button">edit</div>-->
                          <!--<div class="simple-button">share</div>-->
                          <!--<div class="simple-button">fullscreen</div>-->
                          <!--<div class="simple-button negative">delete</div>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="message-item">-->
                        <!--<div class="contact">-->
                          <!--<div class="avatar">-->
                            <!--<img src="http://lh6.googleusercontent.com/-DC1JTtJ1xDI/AAAAAAAAAAI/AAAAAAAAF6I/SBSyjz8mcTA/s512-c/photo.jpg">-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="message"></div>-->
                        <!--<div class="tools">-->
                          <!--<div class="time">-->
                            <!--<img class="time-icon" src="time.svg">-->
                            <!--<span class="time-value">21:30</span>-->
                          <!--</div>-->
                          <!--<div class="simple-button">edit</div>-->
                          <!--<div class="simple-button">share</div>-->
                          <!--<div class="simple-button">fullscreen</div>-->
                          <!--<div class="simple-button negative">delete</div>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="message-item">-->
                        <!--<div class="contact">-->
                          <!--<div class="avatar">-->
                            <!--<img src="http://lh4.googleusercontent.com/-GWO1SPUrt-M/AAAAAAAAAAI/AAAAAAAAAB0/2pNfvHYUYRM/s512-c/photo.jpg">-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="message"></div>-->
                        <!--<div class="tools">-->
                          <!--<div class="time">-->
                            <!--<img class="time-icon" src="time.svg">-->
                            <!--<span class="time-value">21:30</span>-->
                          <!--</div>-->
                          <!--<div class="simple-button">edit</div>-->
                          <!--<div class="simple-button">share</div>-->
                          <!--<div class="simple-button">fullscreen</div>-->
                          <!--<div class="simple-button negative">delete</div>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="message-item">-->
                        <!--<div class="contact">-->
                          <!--<div class="avatar">-->
                            <!--<img src="http://lh6.googleusercontent.com/-DC1JTtJ1xDI/AAAAAAAAAAI/AAAAAAAAF6I/SBSyjz8mcTA/s512-c/photo.jpg">-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="message"></div>-->
                        <!--<div class="tools">-->
                          <!--<div class="time">-->
                            <!--<img class="time-icon" src="time.svg">-->
                            <!--<span class="time-value">21:30</span>-->
                          <!--</div>-->
                          <!--<div class="simple-button">edit</div>-->
                          <!--<div class="simple-button">share</div>-->
                          <!--<div class="simple-button">fullscreen</div>-->
                          <!--<div class="simple-button negative">delete</div>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="message-item">-->
                        <!--<div class="contact">-->
                          <!--<div class="avatar">-->
                            <!--<img src="http://audiotool.s3.amazonaws.com/users/amaury_aguirre/avatar1/1f866b56-5805-418e-8406-c35ad2827fd1.jpg">-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="message"></div>-->
                        <!--<div class="tools">-->
                          <!--<div class="time">-->
                            <!--<img class="time-icon" src="time.svg">-->
                            <!--<span class="time-value">21:30</span>-->
                          <!--</div>-->
                          <!--<div class="simple-button">edit</div>-->
                          <!--<div class="simple-button">share</div>-->
                          <!--<div class="simple-button">fullscreen</div>-->
                          <!--<div class="simple-button negative">delete</div>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="message-item">-->
                        <!--<div class="contact">-->
                          <!--<div class="avatar">-->
                            <!--<img src="http://lh4.googleusercontent.com/-GWO1SPUrt-M/AAAAAAAAAAI/AAAAAAAAAB0/2pNfvHYUYRM/s512-c/photo.jpg">-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="message"></div>-->
                        <!--<div class="tools">-->
                          <!--<div class="time">-->
                            <!--<img class="time-icon" src="time.svg">-->
                            <!--<span class="time-value">21:30</span>-->
                          <!--</div>-->
                          <!--<div class="simple-button">edit</div>-->
                          <!--<div class="simple-button">share</div>-->
                          <!--<div class="simple-button">fullscreen</div>-->
                          <!--<div class="simple-button negative">delete</div>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="message-item">-->
                        <!--<div class="contact">-->
                          <!--<div class="avatar">-->
                            <!--<img src="http://lh6.googleusercontent.com/-DC1JTtJ1xDI/AAAAAAAAAAI/AAAAAAAAF6I/SBSyjz8mcTA/s512-c/photo.jpg">-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="message"></div>-->
                        <!--<div class="tools">-->
                          <!--<div class="time">-->
                            <!--<img class="time-icon" src="time.svg">-->
                            <!--<span class="time-value">21:30</span>-->
                          <!--</div>-->
                          <!--<div class="simple-button">edit</div>-->
                          <!--<div class="simple-button">share</div>-->
                          <!--<div class="simple-button">fullscreen</div>-->
                          <!--<div class="simple-button negative">delete</div>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="message-item">-->
                        <!--<div class="contact">-->
                          <!--<div class="avatar">-->
                            <!--<img src="http://audiotool.s3.amazonaws.com/users/amaury_aguirre/avatar1/1f866b56-5805-418e-8406-c35ad2827fd1.jpg">-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="message"></div>-->
                        <!--<div class="tools">-->
                          <!--<div class="time">-->
                            <!--<img class="time-icon" src="time.svg">-->
                            <!--<span class="time-value">21:30</span>-->
                          <!--</div>-->
                          <!--<div class="simple-button">edit</div>-->
                          <!--<div class="simple-button">share</div>-->
                          <!--<div class="simple-button">fullscreen</div>-->
                          <!--<div class="simple-button negative">delete</div>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="message-item">-->
                        <!--<div class="contact">-->
                          <!--<div class="avatar">-->
                            <!--<img src="http://lh4.googleusercontent.com/-GWO1SPUrt-M/AAAAAAAAAAI/AAAAAAAAAB0/2pNfvHYUYRM/s512-c/photo.jpg">-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="message"></div>-->
                        <!--<div class="tools">-->
                          <!--<div class="time">-->
                            <!--<img class="time-icon" src="time.svg">-->
                            <!--<span class="time-value">21:30</span>-->
                          <!--</div>-->
                          <!--<div class="simple-button">edit</div>-->
                          <!--<div class="simple-button">share</div>-->
                          <!--<div class="simple-button">fullscreen</div>-->
                          <!--<div class="simple-button negative">delete</div>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="message-item">-->
                        <!--<div class="contact">-->
                          <!--<div class="avatar">-->
                            <!--<img src="http://lh6.googleusercontent.com/-DC1JTtJ1xDI/AAAAAAAAAAI/AAAAAAAAF6I/SBSyjz8mcTA/s512-c/photo.jpg">-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="message"></div>-->
                        <!--<div class="tools">-->
                          <!--<div class="time">-->
                            <!--<img class="time-icon" src="time.svg">-->
                            <!--<span class="time-value">21:30</span>-->
                          <!--</div>-->
                          <!--<div class="simple-button">edit</div>-->
                          <!--<div class="simple-button">share</div>-->
                          <!--<div class="simple-button">fullscreen</div>-->
                          <!--<div class="simple-button negative">delete</div>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="message-item">-->
                        <!--<div class="contact">-->
                          <!--<div class="avatar">-->
                            <!--<img src="http://lh4.googleusercontent.com/-GWO1SPUrt-M/AAAAAAAAAAI/AAAAAAAAAB0/2pNfvHYUYRM/s512-c/photo.jpg">-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="message"></div>-->
                        <!--<div class="tools">-->
                          <!--<div class="time">-->
                            <!--<img class="time-icon" src="time.svg">-->
                            <!--<span class="time-value">21:30</span>-->
                          <!--</div>-->
                          <!--<div class="simple-button">edit</div>-->
                          <!--<div class="simple-button">share</div>-->
                          <!--<div class="simple-button">fullscreen</div>-->
                          <!--<div class="simple-button negative">delete</div>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="message-item">-->
                        <!--<div class="contact">-->
                          <!--<div class="avatar">-->
                            <!--<img src="http://lh6.googleusercontent.com/-DC1JTtJ1xDI/AAAAAAAAAAI/AAAAAAAAF6I/SBSyjz8mcTA/s512-c/photo.jpg">-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="message"></div>-->
                      <!--</div>-->
                      <!--<div class="message-item">-->
                        <!--<div class="contact">-->
                          <!--<div class="avatar">-->
                            <!--<img src="http://audiotool.s3.amazonaws.com/users/amaury_aguirre/avatar1/1f866b56-5805-418e-8406-c35ad2827fd1.jpg">-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="message"></div>-->
                        <!--<div class="tools">-->
                          <!--<div class="time">-->
                            <!--<img class="time-icon" src="time.svg">-->
                            <!--<span class="time-value">21:30</span>-->
                          <!--</div>-->
                          <!--<div class="simple-button">edit</div>-->
                          <!--<div class="simple-button">share</div>-->
                          <!--<div class="simple-button">fullscreen</div>-->
                          <!--<div class="simple-button negative">delete</div>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="message-item">-->
                        <!--<div class="contact">-->
                          <!--<div class="avatar">-->
                            <!--<img src="http://lh4.googleusercontent.com/-GWO1SPUrt-M/AAAAAAAAAAI/AAAAAAAAAB0/2pNfvHYUYRM/s512-c/photo.jpg">-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="message"></div>-->
                        <!--<div class="tools">-->
                          <!--<div class="time">-->
                            <!--<img class="time-icon" src="time.svg">-->
                            <!--<span class="time-value">21:30</span>-->
                          <!--</div>-->
                          <!--<div class="simple-button">edit</div>-->
                          <!--<div class="simple-button">share</div>-->
                          <!--<div class="simple-button">fullscreen</div>-->
                          <!--<div class="simple-button negative">delete</div>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div id="message-composer">-->
                    <!--<div>-->
                      <!--<div class="message-item">-->
                        <!--<div class="contact">-->
                          <!--<div class="avatar">-->
                            <!--<img src="http://lh4.googleusercontent.com/-GWO1SPUrt-M/AAAAAAAAAAI/AAAAAAAAAB0/2pNfvHYUYRM/s512-c/photo.jpg">-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="message">-->
                          <!--<div class="message-wrap">-->
                            <!--<div class="content" contenteditable="true">-->
                              <!--Hello Alice.-->
                              <!--This is Bob.-->
                            <!--</div>-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="tools">-->
                          <!--<div class="simple-button">send</div>-->
                          <!--<div class="simple-button negative">clear</div>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="column-wrapper">-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--</div>-->
