doctype html
html
	head
		link(rel="stylesheet", src="contacts.css")
		script(rel="application/javascript", src="../template.js")
		script(rel="application/javascript", src="contacts.js")
	body
		template#contact-template
			.avatar Avatar
			.name Name
		#target