* {
  outline: none;
}
body,
html {
  margin: 0;
  padding: 0;
}
template {
  display: none !important;
}
@font-face {
  font-family: 'Segoe UI';
  src: url("http://i.s-microsoft.com/fonts/segoe-ui/cyrillic/light/latest.woff");
}
.contact {
  color: #000;
  background-color: #fff;
}
.contact:hover {
  color: #fff;
}
.contact.user:hover {
  background-color: #5b5;
}
.contact.public:hover {
  background-color: #b55;
}
.contact.theme:hover {
  background-color: #55b;
}
