<!DOCTYPE html>
<html>
  <head>
    <title>Data Bind</title>
    <script type="application/javascript" src="databind.js"></script>
  </head>
  <body>
    <div id="page"></div>
    <div id="templates" style="display: none">
      <div class="contact">
        <div data-break="true" class="div">
          <div class="div">
            <div class="div">
              <div class="div"></div>
            </div>
          </div>
        </div>
        <div class="div">
          <div data-value="firstName" class="first-mame"></div>
          <div data-value="lastName" class="last-name"></div>
        </div>
      </div>
    </div>
  </body>
</html>