mixin contact
	.contact
		.first-mame(data-value="firstName")
		.last-name(data-value="lastName")

doctype html
html
	head
		title Data Bind
		script(type="application/javascript", src="databind.js")
	body
		#page
		#templates(style="display: none")
			+contact