html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Verdana;
    color: #666;
    width: 920px;
    overflow-x: hidden;
    display: block !important;
    text-rendering: optimizeLegibility;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}
html {
    background-color: #888;
}
body {
    background-color: #fff;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    margin: 0 auto;
}
::-webkit-scrollbar-thumb {
    background-color: #ddd;
}
.hidden {
    display: none !important;
}
#menu {
    -webkit-user-select: none;
    user-select: none;
    top: 0;
    font-size: 12px;
    width: 920px;
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 12px;
    height: 36px;
    line-height: 36px;
    vertical-align: middle;

    position: fixed;
    border-bottom: 1px solid #ddd;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.97);
    box-shadow: 0 0 0.5em #ccc;
}
#menu-container {
    vertical-align: top;
    position: relative;
    text-align: center;
    width: 100%;
}
#logo {
    position: absolute;
    left: 0px;
    font-size: 14px !important;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}
#logo:hover {
    color: #28f;
}
#logo, #breadcrumbs {
    display: inline-block;
}
#logo .first-word {
    color: #28f;
}
#logo-pic {
    top: 3px;
    width: 22px;
    height: 16px;
    border-radius: 4px;
    background-color: #28f;
    position: relative;
    display: inline-block;
}
#logo-pic:after {
    content: "";
    position: absolute;
    top: 16px;
    left: 4px;
    border-top: 5px solid #28f;
    border-right: 5px solid transparent;
}
#arrow {
    position: absolute;
    top: 3px;
    left: 8px;
    display: inline-block;
    width: 0;
    background-color: white;
    border-left: 8px solid #fff;
    border-top: 5px solid #28f;
    border-bottom: 5px solid #28f;
}
#breadcrumbs {
    display: inline-block;
    font-size: 0;
}
#breadcrumbs .chosen {
    color: #fff;
    background-color: #28f;
}
#breadcrumbs .normal:hover {
    color: #28f;
}
#select, #edit, #post {
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    padding-right: 1em;
    padding-left: 1em;
    position: relative;
}
#select.chosen:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    margin-left: -12px;
    border-left: 12px solid transparent;
    border-top: 18px solid #28f;
    border-bottom: 18px solid #28f;
}
#select.chosen:after {
    content: "";
    top: 0;
    right: 0;
    margin-right: -12px;
    position: absolute;
    border-left: 12px solid #28f;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
}
#edit {
    margin-left: 12px;
}
#edit.chosen:before {
      content: "";
      top: 0;
      left: 0;
      position: absolute;
      margin-left: -12px;
      border-left: 12px solid transparent;
      border-top: 18px solid #28f;
      border-bottom: 18px solid #28f;
}
#edit.chosen:after {
    content: "";
    top: 0;
    right: 0;
    margin-right: -12px;
    position: absolute;
    border-left: 12px solid #28f;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
}
#post {
    margin-left: 12px;
}
#post.chosen:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    margin-left: -12px;
    border-left: 12px solid transparent;
    border-top: 18px solid #28f;
    border-bottom: 18px solid #28f;
}
#post.chosen:after {
    content: "";
    top: 0;
    right: 0;
    margin-right: -12px;
    position: absolute;
    border-left: 12px solid #28f;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
}
#footer {
    text-align: center;
    position: fixed;
    width: 920px;
    bottom: 0;
    font-size: 12px;
    border-top: 1px solid #ddd;
    height: 36px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #fff;
    box-shadow: 0 0 0.5em #ccc;
}
#footer .button {
    border: 1px solid #28f;
}
#page {
    box-sizing: border-box;
    overflow-y: auto;
    display: block;
    position: absolute;
    top: 36px;
    bottom: 48px;
    width: 100%;
    font-size: 0.8em;
    padding: 0.5em;
    padding-bottom: 2em;
}
#page-container {
    margin: 0 auto;
}
#select-page {
    text-align: center;
    font-size: 0;
}
#page .title {
    font-weight: bold;
    color: #333;
    font-size: 14px;
    padding-top: 18px;
    padding-bottom: 6px;
    text-align: center;
}
#post-page {
    text-align: center;
}
.patterns {
    margin-top: 8px;
}
.message-pattern {
    box-sizing: border-box;
    vertical-align: top;
    white-space: nowrap;
    display: inline-block;
    border: 1px solid #ddd;
    text-align: center;
    width: 423px;
    min-height: 423px;
    margin: 10px;
    background-color: #fff;
}
.message-pattern.normal {
    cursor: pointer;
}
.message-pattern.normal:hover {
    border: 1px solid #888;
}
.message-pattern.chosen {
    border: 1px solid #28f;
    box-shadow: 0 0 2px #28f;
}
.preview {
    background-color: #fff;
    margin-top: 8px;
    display: inline-block;
    width: 403px;
    height: 403px;
}
.controls {

}
.controls .button {
    font-size: 12px;
    margin: 8px 4px;
    /*border: 1px solid #fff;*/
}
.button {
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid #ddd;
    display: inline-block;
    padding: 8px;
    cursor: pointer;
}
.button:hover {
    border: 1px solid #28f;
    color: #28f;
}
.button:active {
    color: #fff;
    border: 1px solid #28f;
    background-color: #28f;
    box-shadow: 0 0 1px #28f;
}
.load-holder {
    margin-top: 12px;
    text-align: center;
    font-size: 12px;
}
.load-holder .button {
    padding-left: 12px;
    padding-right: 12px;
}
#dialog-background {
    display: table;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 920px;
    z-index: 100;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}
#dialog-background .dialog-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#dialog-background .dialog-wrapper .dialog-window {
    display: inline-block;
    background-color: white;
    border: 1px solid #28f;
    box-shadow: 0 0 5px #28f;
}
#dialog-background .dialog-wrapper .dialog-window .title-holder {
    height: 36px;
    font-weight: bold;
    line-height: 36px;
    color: #333;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
}
#post-dialog {
    font-size: 12px;
    width: 360px;
    height: 220px;
}
#post-dialog .content {
    height: 140px;
    line-height: 140px;
}
.contacts {
    text-align: left;
    margin-left: 19px;
}
.special-contact {
    margin-top: 6px;
    text-align: center;
}
.contact {
    margin-right: 1px;
    margin-bottom: 1px;
    width: 120px;
    height: 140px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border: 1px solid #fff;
}
.contact.normal {
    cursor: pointer;
}
.contact.normal:hover {
    border: 1px solid #888;
    color: #28f;
}
.contact.chosen {
    color: #28f;
    border: 1px solid #28f;
    box-shadow: 0 0 1px #28f;
}
.contact .photo {
    padding-top: 12px;
    width: 100px;
    height: 100px;
}
.contact .first-name, .last-name {
    font-size: 11px;
    display: inline-block;
}
.message-editor {
    text-align: center;
    margin-top: 18px;
}
.message-editor .container {
    display: inline-block;
    vertical-align: top;
}
.message-wrapper {
    display: inline-block;
    text-align: center;
    width: 423px;
    min-height: 423px;
    border: 1px solid #28f;
    box-shadow: 0 0 2px #28f;
}
.message-container {
    margin-top: 10px;
    display: inline-block;
    width: 403px;
    height: 403px;
}
.tools {
    display: inline-block;
    width: 370px;
    vertical-align: top;
    margin-left: 16px;
    text-align: left;
}
.tools .section {
    display: inline-block;
    color: white;
    background-color: #28f;
    font-size: 14px;
    padding: 8px;
    margin-bottom: 16px;
}