html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Verdana;
    color: #666;
    width: 920px;
    overflow-x: hidden;
    display: block !important;
    position: relative;
    text-rendering: optimizeLegibility;
}
html {
    background-color: #888;
}
body {
    background-color: #fff;
}
.hidden {
    display: none !important;
}
#menu {
    -webkit-user-select: none;
    user-select: none;
    top: 0;
    font-size: 0.8em;
    width: 920px;
    box-sizing: border-box;
    padding-left: 1em;
    padding-right: 1em;
    height: 3em;
    line-height: 3em;
    vertical-align: middle;
    position: fixed;
    border-bottom: 1px solid #ddd;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 0.5em #eee;
}
#menu-container {
    position: relative;
    width: 100%;
}
#logo {
    font-size: 14px !important;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}
#logo:hover {
    color: #28f;
}
#logo, #breadcrumbs {
    display: inline-block;
}
#logo .first-word {
    color: #28f;
}
#breadcrumbs {
    position: absolute;
    right: 0;
}
#breadcrumbs .chosen {
    color: #fff;
    background-color: #28f;
    box-shadow: 0 0 1px #28f;
}
#breadcrumbs .normal:hover {
    color: #28f;
}
#select, #edit, #post {
    cursor: pointer;
    display: inline-block;
    padding-right: 1em;
    padding-left: 1em;
}
#page {
    font-size: 0.8em;
    margin-top: 3em;
    padding: 1em;
}
#page-container {
    margin: 0 auto;
    text-align: left;
}
#select-page {
    font-size: 0;
}
#select-page .title {
    font-weight: bold;
    color: #333;
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
}
.template {
    cursor: pointer;
    box-sizing: border-box;
    vertical-align: top;
    white-space: nowrap;
    display: inline-block;
    border: 1px solid #ddd;
    text-align: center;
    width: 423px;
    height: 423px;
    margin: 10px;
    background-color: #fff;
}
.template:hover {
    border: 1px solid #28f;
    box-shadow: 0 0 2px #28f;
}
.preview {
    background-color: #fff;
    margin-top: 8px;
    display: inline-block;
    width: 403px;
    height: 403px;
}
