* {
  outline: 0;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  margin: 0 auto;
}
::-webkit-scrollbar-thumb {
  background-color: #ddd;
}
html,
body {
  font-family: 'Open Sans', Verdana;
  text-rendering: optimizeLegibility;
  color: #333;
  background-color: #fff;
}
#root {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.hidden {
  display: none !important;
}
.super-hidden {
  display: none !important;
}
.main-menu {
  position: absolute;
  height: 42px;
  line-height: 42px;
  width: 920px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  z-index: 20;
  font-size: 12px;
  text-align: center;
  background-color: #fff;
}
.main-menu.shadow {
  box-shadow: 0 0 2px #888;
}
.main-menu .container {
  position: relative;
  margin-left: 12px;
  margin-right: 12px;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  vertical-align: top;
  text-align: center;
}
.main-menu .logo {
  position: absolute;
  left: 12px;
  font-size: 14px !important;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}
.main-menu .logo:hover {
  color: #28f;
}
.main-menu .logo .logo-pic {
  position: relative;
  top: 3px;
  width: 22px;
  height: 16px;
  border-radius: 4px;
  background-color: #28f;
  display: inline-block;
}
.main-menu .logo .logo-pic:after {
  position: absolute;
  top: 16px;
  left: 4px;
  content: "";
  border-top: 5px solid #28f;
  border-right: 5px solid transparent;
}
.main-menu .items,
.main-menu .chats {
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
}
.main-menu .main-menu-item {
  display: inline-block;
  background-color: #fff;
}
.main-menu .main-menu-item.normal {
  cursor: pointer;
}
.main-menu .main-menu-item.normal:hover {
  color: #28f;
}
.main-menu .main-menu-item.chosen {
  cursor: default;
  color: #fff;
  background-color: #28f;
}
.main-menu .main-menu-item .unread {
  display: inline;
  margin-left: 8px;
  padding: 4px 8px 4px 8px;
  color: #fff;
  font-size: 10px;
  background-color: #f00;
  border-radius: 2px;
}
.main-menu .chats {
  margin-left: 12px;
  display: inline-block;
  border: 1px solid #28f;
  background-color: #28f;
  border-radius: 3px;
  height: 34px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.main-menu .chats.disabled {
  opacity: 0.25;
}
.main-menu .chats.disabled .main-menu-item {
  cursor: default;
}
.main-menu .chats.disabled .main-menu-item:hover {
  color: #333;
}
.main-menu .chats .main-menu-item {
  position: relative;
  vertical-align: top;
  height: 32px;
  line-height: 32px;
  margin-right: 1px;
  margin-left: 32px;
  padding-right: 16px;
}
.main-menu .chats .main-menu-item.chosen {
  color: #fff;
  text-shadow: 0 0 2px #666;
}
.main-menu .chats .main-menu-item.chosen:before {
  border: 16px solid #28f;
  border-left: 16px solid transparent;
}
.main-menu .chats .main-menu-item.chosen:after {
  border: 16px solid transparent;
  border-left: 16px solid #28f;
}
.main-menu .chats .main-menu-item:before {
  position: absolute;
  top: 0;
  left: -32px;
  content: "";
  border: 16px solid #fff;
  border-left: 16px solid transparent;
}
.main-menu .chats .main-menu-item:after {
  position: absolute;
  top: 0;
  right: -32px;
  content: "";
  border: 16px solid transparent;
  border-left: 16px solid #fff;
}
.main-menu .chats .main-menu-item:first-child {
  margin-left: 0;
  padding-left: 32px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.main-menu .chats .main-menu-item:first-child:before {
  display: none;
}
.main-menu .chats .main-menu-item:last-child {
  margin-right: 0;
  padding-right: 32px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.main-menu .chats .main-menu-item:last-child:after {
  display: none;
}
.main-menu .items {
  margin-left: 32px;
}
.main-menu .items .main-menu-item {
  vertical-align: top;
  height: 34px;
  line-height: 34px;
  border: 1px solid #28f;
  border-radius: 2px;
  padding-left: 32px;
  padding-right: 32px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.main-menu .items .main-menu-item.chosen {
  background-color: rgba(34,136,255,0.15);
  color: #28f;
}
.main-menu .info {
  position: absolute;
  right: 0;
  height: 36px;
  display: inline-block;
}
.main-menu .info .group {
  display: inline-block;
  height: 34px;
  margin-top: 4px;
  margin-right: 8px;
  padding-right: 8px;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  color: #fff;
  background-color: #5b5;
  text-shadow: 0 0 2px #666;
  border-radius: 2px;
}
.main-menu .info .group:hover {
  background-color: #4a4;
}
.main-menu .info .group:active {
  background-color: #393;
}
.main-menu .info .bender {
  width: 34px;
  height: 34px;
}
.main-menu .info .group-text {
  display: inline-block;
  height: 34px;
  line-height: 12px;
  vertical-align: top;
  padding-top: 5px;
  padding-bottom: 4px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.main-container {
  position: absolute;
  top: 42px;
  bottom: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.postcard {
  position: relative;
  width: 100%;
  height: 100%;
}
.postcard-menu {
  position: absolute;
  height: 38px;
  width: 920px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  z-index: 10;
  font-size: 0;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 4px #888;
}
.postcard-menu .breadcrumbs {
  display: inline-block;
  border: 1px solid #82f;
  background-color: #82f;
  border-radius: 3px;
}
.postcard-menu .postcard-menu-item {
  position: relative;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  background-color: #fff;
  margin-right: 1px;
  margin-left: 32px;
  padding-right: 16px;
  font-size: 12px;
  color: #333;
}
.postcard-menu .postcard-menu-item .name {
  display: inline-block;
  vertical-align: middle;
}
.postcard-menu .postcard-menu-item .next {
  vertical-align: top;
  display: none;
  padding: 4px 8px 5px 8px;
  border-radius: 2px;
  color: #fff;
  box-shadow: 0 0 1px #82f;
  background-color: #82f;
  margin-right: 12px;
  margin-left: 2px;
  margin-top: 2px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.postcard-menu .postcard-menu-item.flicker {
  -webkit-animation: flicker 0.75s infinite ease-in-out;
}
.postcard-menu .postcard-menu-item.flicker:before {
  -webkit-animation: flicker-non-left-border 0.75s infinite ease-in-out;
}
.postcard-menu .postcard-menu-item.flicker:after {
  -webkit-animation: flicker-left-border 0.75s infinite ease-in-out;
}
.postcard-menu .postcard-menu-item.flicker .next {
  display: inline;
}
.postcard-menu .postcard-menu-item.normal {
  cursor: pointer;
}
.postcard-menu .postcard-menu-item.normal:hover {
  color: #82f;
}
.postcard-menu .postcard-menu-item.chosen {
  cursor: default;
  color: #82f;
  background-color: rgba(255,255,255,0.85);
}
.postcard-menu .postcard-menu-item.chosen:before {
  border: 16px solid rgba(255,255,255,0.85);
  border-left: 16px solid transparent;
}
.postcard-menu .postcard-menu-item.chosen:after {
  border: 16px solid transparent;
  border-left: 16px solid rgba(255,255,255,0.85);
}
.postcard-menu .postcard-menu-item:before {
  position: absolute;
  top: 0;
  left: -32px;
  content: "";
  border: 16px solid #fff;
  border-left: 16px solid transparent;
}
.postcard-menu .postcard-menu-item:after {
  position: absolute;
  top: 0;
  right: -32px;
  content: "";
  border: 16px solid transparent;
  border-left: 16px solid #fff;
}
.postcard-menu .postcard-menu-item:first-child {
  margin-left: 0;
  padding-left: 32px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.postcard-menu .postcard-menu-item:first-child:before {
  display: none;
}
.postcard-menu .postcard-menu-item:last-child {
  margin-right: 0;
  padding-right: 32px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.postcard-menu .postcard-menu-item:last-child:after {
  display: none;
}
.postcard-menu .cancel {
  position: absolute;
  top: 0;
  right: 8px;
  height: 34px;
  line-height: 34px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 12px;
  color: #fff;
  background-color: #f00;
  border-radius: 2px;
  cursor: pointer;
  text-shadow: 0 0 2px #666;
}
.postcard-menu .cancel:hover {
  background-color: #e00;
}
.postcard-menu .cancel:active {
  background-color: #d00;
}
.conversation {
  position: relative;
  width: 100%;
  height: 100%;
}
.conversation-menu {
  position: absolute;
  height: 45px;
  width: 920px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 10;
  font-size: 0;
  text-align: center;
  background-color: #fff;
  font-size: 12px;
  box-shadow: 0 0 2px #888;
}
.conversation-menu .items {
  margin-top: 3px;
  display: inline-block;
}
.conversation-menu .conversation-menu-item {
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 16px;
  padding-right: 16px;
}
#logo {
  position: absolute;
  display: inline-block;
  left: 0;
  font-size: 14px !important;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}
#logo:hover {
  color: #28f;
}
#logo-pic {
  top: 3px;
  width: 22px;
  height: 16px;
  border-radius: 4px;
  background-color: #28f;
  position: relative;
  display: inline-block;
}
#logo-pic:after {
  content: "";
  position: absolute;
  top: 16px;
  left: 4px;
  border-top: 5px solid #28f;
  border-right: 5px solid transparent;
}
#arrow {
  position: absolute;
  top: 3px;
  left: 8px;
  display: inline-block;
  width: 0;
  background-color: #fff;
  border-left: 8px solid #fff;
  border-top: 5px solid #28f;
  border-bottom: 5px solid #28f;
}
#big-logo-pic {
  top: 4px;
  width: 44px;
  height: 32px;
  border-radius: 8px;
  background-color: #28f;
  position: relative;
  display: inline-block;
}
#big-logo-pic:after {
  content: "";
  position: absolute;
  top: 32px;
  left: 8px;
  border-top: 10px solid #28f;
  border-right: 10px solid transparent;
}
#big-arrow {
  position: absolute;
  top: 6px;
  left: 16px;
  display: inline-block;
  width: 0;
  background-color: #fff;
  border-left: 16px solid #fff;
  border-top: 10px solid #28f;
  border-bottom: 10px solid #28f;
}
#lobby {
  position: relative;
  font-size: 0;
  width: 100%;
  height: 100%;
}
#lobby .search-holder {
  position: absolute;
  top: 0;
  height: 51px;
  width: 100%;
  z-index: 5;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 12px;
  padding-right: 12px;
}
#lobby .search-holder .query {
  margin-top: 12px;
  width: 100%;
}
#lobby .shadow {
  position: absolute;
  top: 51px;
  height: 6px;
  width: 100%;
  z-index: 5;
  background-image: linear-gradient(to bottom, #fff 0%, rgba(255,255,255,0) 100%);
}
#lobby .contacts-holder {
  position: absolute;
  top: 51px;
  width: 100%;
  bottom: 0;
  padding: 6px 12px 12px 12px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
}
#lobby .contacts-holder .contacts {
  margin-left: 16px;
}
#lobby .load-holder {
  margin-top: 18px;
  margin-bottom: 18px;
}
#lobby .load-holder .button-special {
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.tape-page {
  font-size: 0;
  overflow-y: auto;
  position: absolute;
  top: 45px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-bottom: 6px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.tape-page::-webkit-scrollbar-track:vertical {
  border-left: 1px solid #ddd;
}
.tape-page .tape-item {
  position: relative;
  font-size: 12px;
  padding-bottom: 12px;
  padding-top: 12px;
  border-bottom: 1px solid #ddd;
  border-collapse: separate;
}
.tape-page .tape-item.own {
  background-color: #f8f8f8;
}
.tape-page .tape-item.unshown:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  content: "";
  border-left: 5px solid #5b5;
}
.tape-page .tape-item .contact {
  background-color: #fff;
  border: 1px solid #ddd;
}
.tape-page .tape-item .text-user {
  width: 100%;
  padding-left: 1px;
  padding-right: 1px;
}
.tape-page .tape-item .text-user .name {
  font-size: 12px;
  white-space: pre-wrap;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}
.tape-page .tape-item .text-user .name:hover {
  color: #28f;
  text-decoration: underline;
}
.tape-page .tape-item .text-user.offline {
  opacity: 0.5;
}
.tape-page .tape-item .text-message {
  font-size: 0;
  margin-left: 13px;
}
.tape-page .tape-item .text-message .content {
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.tape-page .tape-item .contact-holder,
.tape-page .tape-item .message-holder,
.tape-page .tape-item .controls-holder {
  display: inline-block;
  vertical-align: top;
}
.tape-page .tape-item .contact-holder {
  width: 130px;
  margin-right: 1px;
}
.tape-page .tape-item .contact-holder .answer {
  width: 122px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 4px;
  margin-top: 8px;
  text-align: center;
  height: 122px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.tape-page .tape-item .message-holder {
  font-size: 0;
  width: 454px;
  text-align: left;
}
.tape-page .tape-item .message-holder .message {
  margin-left: 12px;
}
.tape-page .tape-item .controls-holder {
  width: 140px;
}
.tape-page .tape-item .controls-holder .wall,
.tape-page .tape-item .controls-holder .url {
  display: block;
  margin-bottom: 6px;
}
.tape-page .tape-item .controls-holder .wall {
  margin-top: 6px;
}
.tape-page .tape-item .controls-holder .time {
  font-size: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}
#answer-page .container {
  display: inline-block;
  margin-top: 16px;
}
#answer-page .message-wrapper,
#answer-page .contact-wrapper {
  display: inline-block;
  vertical-align: top;
}
#answer-page .contact-wrapper {
  width: 220px;
  margin-left: 16px;
}
#answer-page .message {
  margin-top: 0;
  margin-left: 0;
}
#answer-page .answer {
  width: 122px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 1px;
  margin-top: 8px;
  text-align: center;
  height: 122px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  -webkit-animation: min-pulse 0.75s infinite ease-in-out;
}
#select-page {
  font-size: 0;
  overflow: hidden;
  position: absolute;
  top: 38px;
  bottom: 0;
  left: 0;
  right: 0;
}
#select-page .container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  padding: 8px 0 0 16px;
}
#select-page .container.shifted {
  margin-top: 36px;
}
#select-page .container .patterns {
  margin-bottom: 16px;
}
#select-page .message {
  margin: 8px;
}
#select-page .load-holder {
  margin-left: 8px;
  width: 848px;
}
#select-page .load-holder .button-special {
  width: 100%;
}
#select-page .load-holder.bottom .button-special {
  margin-bottom: 24px;
  -webkit-animation: pulse 0.75s infinite ease-in-out;
}
#select-page .teaser {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0 auto;
  height: 36px;
  line-height: 36px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 9;
  background-color: #fccd59;
  color: #fff;
  text-shadow: 1px 1px 1px #9b7555;
  box-shadow: 0 0 6px #888;
  cursor: pointer;
}
#select-page .teaser .cross {
  float: right;
  position: inline-block;
  cursor: default;
  text-decoration: none !important;
  padding-left: 16px;
  padding-right: 16px;
}
#edit-page {
  font-size: 0;
  position: absolute;
  overflow: hidden;
  top: 38px;
  bottom: 0;
  left: 0;
  right: 0;
}
#edit-page >div {
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
}
#edit-page .message-holder,
#edit-page .editor-holder {
  display: table-cell;
  position: relative;
  vertical-align: top;
}
#edit-page .message-holder {
  width: 462px;
}
#edit-page .message-holder .prewrapper {
  margin-left: 24px;
  margin-top: 16px;
}
#edit-page .message-holder .prewrapper .message-wrapper {
  position: relative;
}
#edit-page .message-holder .prewrapper .wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: rgba(255,255,255,0.9);
}
#edit-page .message-holder .prewrapper .controls {
  display: table;
  width: 100%;
  height: 100%;
}
#edit-page .message-holder .prewrapper .controls .line {
  display: table-cell;
  vertical-align: middle;
}
#edit-page .editor-holder {
  height: 100%;
}
#edit-page .editor-holder .editor {
  position: relative;
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#edit-page .editor-holder .editor .wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 16px 16px 0 2px;
}
#edit-page .editor-holder .memos,
#edit-page .editor-holder .images,
#edit-page .editor-holder .texts {
  margin-bottom: 4px;
}
#edit-page .editor-holder .section {
  margin-bottom: 4px;
}
#edit-page .editor-holder .texts {
  width: 100%;
  display: table;
  table-layout: fixed;
}
#edit-page .editor-holder .texts .film-text {
  font-size: 12px;
  display: table-row;
}
#edit-page .editor-holder .texts .film-text .character-holder,
#edit-page .editor-holder .texts .film-text .film-text-items {
  display: table-cell;
  vertical-align: top;
}
#edit-page .editor-holder .texts .film-text .character-holder {
  width: 108px;
}
#edit-page .editor-holder .memo {
  width: 100%;
}
#edit-page .editor-holder .character {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 2px;
  height: 33px;
  margin-bottom: 8px;
  margin-right: 8px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}
#edit-page .editor-holder .character:hover,
#edit-page .editor-holder .character:active {
  border: 1px solid #28f;
  box-shadow: 0 0 2px #28f !important;
}
#edit-page .editor-holder .character.invalid {
  background-color: #ff6;
  box-shadow: 0 0 2px #ff6;
}
#edit-page .editor-holder .character .character-image,
#edit-page .editor-holder .character .character-name {
  display: inline-block;
  height: 31px;
  vertical-align: top;
}
#edit-page .editor-holder .character .character-image {
  margin-left: 4px;
}
#edit-page .editor-holder .character .character-name {
  line-height: 31px;
}
#edit-page .editor-holder .film-text-items .film-text-item:last-child {
  margin-bottom: 8px !important;
}
#edit-page .editor-holder .film-text-items .text,
#edit-page .editor-holder .film-text-items .gag,
#edit-page .editor-holder .film-text-items .action {
  vertical-align: top;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 4px;
  margin-right: 2px;
}
#edit-page .editor-holder .film-text-items .mood,
#edit-page .editor-holder .film-text-items .animation-type {
  margin-bottom: 4px;
  margin-right: 2px;
  vertical-align: top;
}
#edit-page .editor-holder .film-text-items .text {
  font-family: monospace;
  height: 33px;
  margin-left: 0;
  max-width: 100%;
  border: 1px solid #28f;
}
#edit-page .editor-holder .film-text-items .text:hover {
  border: 1px solid #28f;
  color: #666;
  box-shadow: 0 0 2px #28f;
}
#edit-page .editor-holder .film-text-items .text:focus {
  color: #333;
}
#edit-page .editor-holder .film-text-items .text.invalid {
  background-color: #ff6;
}
#edit-page .editor-holder .film-text-items .gag,
#edit-page .editor-holder .film-text-items .action,
#edit-page .editor-holder .film-text-items .mood,
#edit-page .editor-holder .film-text-items .animation-type {
  display: inline-block;
  cursor: pointer;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
  height: 33px;
  line-height: 33px;
}
#edit-page .editor-holder .film-text-items .gag,
#edit-page .editor-holder .film-text-items .action {
  color: #fff;
  border-radius: 2px;
  text-shadow: 0 0 2px #666;
}
#edit-page .editor-holder .film-text-items .gag.invalid,
#edit-page .editor-holder .film-text-items .action.invalid {
  color: #ff6 !important;
}
#edit-page .editor-holder .film-text-items .gag {
  background-color: #5b5;
}
#edit-page .editor-holder .film-text-items .gag:hover {
  box-shadow: 0 0 2px #5b5;
}
#edit-page .editor-holder .film-text-items .action {
  background-color: #28f;
}
#edit-page .editor-holder .film-text-items .action:hover {
  box-shadow: 0 0 2px #28f;
}
#edit-page .editor-holder .film-text-items .mood {
  border-radius: 2px;
}
#edit-page .editor-holder .film-text-items .mood:hover .icon,
#edit-page .editor-holder .film-text-items .mood:hover .happy,
#edit-page .editor-holder .film-text-items .mood:hover .calm,
#edit-page .editor-holder .film-text-items .mood:hover .amaze {
  box-shadow: 0 0 2px #cc9611;
}
#edit-page .editor-holder .film-text-items .mood:hover .anger {
  box-shadow: 0 0 2px #b8000f;
}
#edit-page .editor-holder .film-text-items .mood:hover .sad {
  box-shadow: 0 0 2px #7a9ab9;
}
#edit-page .editor-holder .film-text-items .mood .icon {
  color: #000;
  width: 31px;
  height: 31px;
  border-radius: 16px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 16px;
  line-height: 28px;
}
#edit-page .editor-holder .film-text-items .mood.invalid {
  background-color: #ff6 !important;
}
#edit-page .editor-holder .film-text-items .animation-type {
  border-radius: 2px;
  width: 33px;
}
#edit-page .editor-holder .film-text-items .animation-type.invalid {
  box-shadow: 0 0 2px #ff6 !important;
}
#edit-page .editor-holder .film-text-items .animation-type:hover {
  box-shadow: 0 0 2px #28f;
}
#edit-page .editor-holder .film-text-items .animation-type .icon {
  border-radius: 2px;
  width: 100%;
  height: 100%;
}
#post-page {
  font-size: 0;
  position: absolute;
  top: 38px;
  bottom: 0;
  right: 0;
  left: 0;
}
#post-page >div {
  display: table;
  width: 100%;
  height: 100%;
}
#post-page >div .tabs,
#post-page >div .container {
  display: table-row;
}
#post-page >div .tabs {
  height: 38px;
  background-color: #efefef;
  text-align: center;
  position: relative;
}
#post-page >div .tabs .strike {
  height: 38px;
  border-bottom: 1px solid #ddd;
}
#post-page >div .tabs .tab {
  background-color: #fff;
  font-size: 12px;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  border: 1px solid #ddd;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
#post-page >div .tabs .tab.normal {
  cursor: pointer;
}
#post-page >div .tabs .tab.normal:hover {
  color: #28f;
}
#post-page >div .tabs .tab.chosen {
  cursor: default;
  border-bottom: 1px solid #fff;
  color: #28f;
}
#post-page >div .container {
  width: 100%;
  height: 100%;
}
#post-page >div .container .contact-search {
  width: 100%;
  height: 100%;
}
#post-page >div .container .contact-search >div {
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
}
#post-page >div .container .contact-search >div .header {
  display: table-row;
  height: 1%;
}
#post-page >div .container .contact-search >div .body {
  display: table-row;
}
#post-page >div .container .contact-search >div .receiver-place,
#post-page >div .container .contact-search >div .search-place {
  display: table-cell;
  vertical-align: top;
}
#post-page >div .container .contact-search >div .receiver-place {
  padding-left: 16px;
  width: 145px;
}
#post-page >div .container .contact-search >div .receiver-place .receiver-holder {
  vertical-align: top;
  padding-top: 6px;
}
#post-page >div .container .contact-search >div .receiver-place .section {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 0;
}
#post-page >div .container .contact-search >div .receiver-place .send {
  width: 122px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 1px;
  margin-top: 8px;
  text-align: center;
  height: 122px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  -webkit-animation: min-pulse 0.75s infinite ease-in-out;
}
#post-page >div .container .contact-search >div .search-place {
  padding-right: 20px;
}
#post-page >div .container .contact-search >div .search-place >.prewrapper {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
}
#post-page >div .container .contact-search >div .search-place >.prewrapper >.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 6px;
  overflow: auto;
}
#post-page >div .container .contact-search >div .search-place .query {
  width: 100%;
  margin-right: 12px;
  margin-top: 12px;
  margin-bottom: 4px;
}
#post-page >div .container .contact-search .shadow {
  width: 100%;
  position: absolute;
  z-index: 10;
  height: 6px;
  background-image: linear-gradient(to bottom, #fff 0%, rgba(255,255,255,0) 100%);
}
#post-page >div .container .contact-search .load-holder {
  margin-left: 2px;
  margin-top: 18px;
  margin-bottom: 18px;
  width: 718px;
}
#post-page >div .container .contact-search .load-holder .button-special {
  width: 100%;
}
.message {
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 2px;
  background-color: #fff;
  vertical-align: top;
}
.message.normal {
  cursor: pointer;
}
.message.normal:hover {
  border: 1px solid #888;
}
.message.normal:hover .play {
  display: block;
}
.message.chosen {
  border: 1px solid #28f;
  box-shadow: 0 0 2px #28f;
}
.message.chosen .play {
  display: table-cell;
}
.message .content {
  position: relative;
  background-color: #fff;
  display: inline-block;
  width: 403px;
  height: 403px;
  overflow: hidden;
  margin: 10px;
  font-size: 16px;
}
.message.normal .play {
  display: none;
  position: absolute;
  width: 403px;
  height: 403px;
  line-height: 403px;
  text-align: center;
  vertical-align: middle;
  left: 0;
  top: 0;
  background-color: rgba(255,255,255,0.5);
}
.message.normal .icon {
  width: 88px;
  height: 64px;
  border-radius: 16px;
  background-color: #28f;
  position: relative;
  display: inline-block;
}
.message.normal .icon:after {
  content: "";
  position: absolute;
  top: 64px;
  left: 16px;
  border-top: 20px solid #28f;
  border-right: 20px solid transparent;
}
.message.normal .icon .arrow {
  position: absolute;
  top: 12px;
  left: 32px;
  display: inline-block;
  width: 0;
  background-color: #fff;
  border-left: 32px solid #fff;
  border-top: 20px solid #28f;
  border-bottom: 20px solid #28f;
}
.button {
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid #ddd;
  display: inline-block;
  padding: 8px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 12px;
  background-color: #fff;
}
.button:hover {
  border: 1px solid #28f;
  box-shadow: 0 0 1px #28f;
  color: #28f;
}
.button:active {
  color: #fff;
  border: 1px solid #28f;
  background-color: #28f;
  box-shadow: 0 0 2px #28f;
  text-shadow: 0 0 2px #666;
}
.button-special {
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
  padding: 8px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 12px;
  background-color: #28f;
  border: 1px solid #28f;
  text-shadow: 0 0 2px #666;
  color: #fff;
}
.button-special:hover {
  box-shadow: 0 0 2px #28f;
}
.button-special:active {
  border: 1px solid #26d;
  background-color: #26d;
  box-shadow: 0 0 2px #26d;
}
.load-holder {
  text-align: center;
  font-size: 12px;
}
#dialog-background {
  display: table;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 920px;
  z-index: 900;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
}
#dialog-background .dialog-wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#dialog-background .dialog-wrapper .dialog-window {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #28f;
  box-shadow: 0 0 5px #28f;
  border-radius: 2px;
}
#dialog-background .dialog-wrapper .dialog-window.error {
  box-shadow: 0 0 5px #f00 !important;
  border: 1px solid #f00 !important;
}
#dialog-background .dialog-wrapper .dialog-window.error .button:hover {
  border: 1px solid #f00 !important;
  box-shadow: 0 0 1px #f00 !important;
  color: #f00 !important;
}
#dialog-background .dialog-wrapper .dialog-window.error .button:active {
  background-color: #f00 !important;
  border: 1px solid #f00 !important;
  box-shadow: 0 0 1px solid #f00 !important;
  color: #fff !important;
}
#dialog-background .dialog-wrapper .dialog-window .title-holder {
  height: 36px;
  font-weight: bold;
  line-height: 36px;
  color: #333;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}
#dialog-background .dialog-wrapper .dialog-window .controls-holder {
  width: 100%;
  padding: 0 2px 0 2px;
  display: table;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-spacing: 6px 0;
  table-layout: fixed;
}
#dialog-background .dialog-wrapper .dialog-window .controls-holder .button {
  display: table-cell;
}
#post-dialog {
  font-size: 12px;
  width: 360px;
  height: 220px;
}
#post-dialog .content {
  height: 140px;
  line-height: 140px;
}
#post-dialog .status {
  line-height: 22px;
  white-space: pre;
  vertical-align: middle;
  display: inline-block;
}
#skip-answer-dialog {
  font-size: 12px;
  width: 360px;
  height: 220px;
}
#skip-answer-dialog .content {
  height: 140px;
  line-height: 140px;
}
#skip-answer-dialog .status {
  line-height: 22px;
  white-space: pre;
  vertical-align: middle;
  display: inline-block;
}
#update-message-dialog {
  font-size: 12px;
  width: 360px;
  height: 220px;
}
#update-message-dialog .content {
  height: 140px;
  line-height: 140px;
}
#update-message-dialog .status {
  line-height: 22px;
  white-space: pre;
  vertical-align: middle;
  display: inline-block;
}
#prepare-chat-dialog {
  font-size: 12px;
  width: 360px;
  height: 220px;
}
#prepare-chat-dialog .content {
  height: 140px;
  line-height: 140px;
}
#prepare-chat-dialog .status {
  line-height: 22px;
  white-space: pre;
  vertical-align: middle;
  display: inline-block;
}
#ask-message-dialog {
  font-size: 12px;
  width: 360px;
  height: 220px;
}
#ask-message-dialog .content {
  height: 140px;
  line-height: 140px;
}
#ask-message-dialog .status {
  line-height: 12px;
  white-space: pre;
  vertical-align: middle;
  display: inline-block;
}
#error-dialog {
  font-size: 12px;
  width: 360px;
  height: 220px;
  box-shadow: 0 0 5px #f00 !important;
  border: 1px solid #f00 !important;
}
#error-dialog .content {
  height: 140px;
  line-height: 140px;
}
#error-dialog .status {
  line-height: 22px;
  white-space: pre;
  vertical-align: middle;
  display: inline-block;
}
#error-dialog .button {
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 3px;
  margin-right: 3px;
}
#error-dialog .button:hover {
  border: 1px solid #f00 !important;
  box-shadow: 0 0 1px #f00 !important;
  color: #f00 !important;
}
#error-dialog .button:active {
  background-color: #f00 !important;
  border: 1px solid #f00 !important;
  box-shadow: 0 0 1px #f00 !important;
  color: #fff !important;
}
#characters-dialog {
  font-size: 12px;
  width: 428px;
  height: 308px;
}
#characters-dialog .title-holder {
  position: relative;
}
#characters-dialog .content {
  height: 140px;
  padding-top: 5px;
}
#characters-dialog .content .character-item {
  display: inline-block;
  vertical-align: top;
  padding: 4px;
  border-radius: 2px;
  border: 1px solid #fff;
  margin-left: 1px;
  margin-top: 1px;
  cursor: pointer;
}
#characters-dialog .content .character-item.normal:hover {
  border: 1px solid #888;
}
#characters-dialog .content .character-item.chosen {
  border: 1px solid #28f;
  box-shadow: 0 0 1px #28f;
  cursor: default;
}
#characters-dialog .content .character-item .character-image {
  width: 72px;
  height: 72 p;
}
#characters-dialog .cross {
  width: 12px;
  height: 12px;
  line-height: 12px;
  padding: 4px;
  right: 8px;
  top: 7px;
  float: right;
  position: absolute;
  color: #f00;
  border: 1px solid #f00;
}
#characters-dialog .cross:hover {
  box-shadow: 0 0 2px #f00;
}
#characters-dialog .cross:active {
  background-color: #f00;
  box-shadow: 0 0 2px #f00;
  color: #fff;
}
#moods-dialog,
#actions-dialog,
#gags-dialog,
#animation-types-dialog,
#create-message-dialog {
  font-size: 12px;
}
#moods-dialog .title-holder,
#actions-dialog .title-holder,
#gags-dialog .title-holder,
#animation-types-dialog .title-holder,
#create-message-dialog .title-holder {
  position: relative;
}
#moods-dialog .cross,
#actions-dialog .cross,
#gags-dialog .cross,
#animation-types-dialog .cross,
#create-message-dialog .cross {
  width: 12px;
  height: 12px;
  line-height: 12px;
  padding: 4px;
  right: 8px;
  top: 7px;
  float: right;
  position: absolute;
  color: #f00;
  border: 1px solid #f00;
}
#moods-dialog .cross:hover,
#actions-dialog .cross:hover,
#gags-dialog .cross:hover,
#animation-types-dialog .cross:hover,
#create-message-dialog .cross:hover {
  box-shadow: 0 0 2px #f00;
}
#moods-dialog .cross:active,
#actions-dialog .cross:active,
#gags-dialog .cross:active,
#animation-types-dialog .cross:active,
#create-message-dialog .cross:active {
  background-color: #f00;
  box-shadow: 0 0 2px #f00;
  color: #fff;
}
#moods-dialog {
  width: 360px;
  height: 123px;
}
#moods-dialog .content {
  height: 90px;
}
#moods-dialog .mood-item {
  width: 48px;
  height: 48px;
  display: inline-block;
  -webkit-user-select: none;
  user-select: none;
  margin-top: 12px;
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 6px;
}
#moods-dialog .mood-item.normal:hover {
  border: 1px solid #888;
}
#moods-dialog .mood-item.chosen {
  border: 1px solid #28f;
  box-shadow: 0 0 1px #28f;
  cursor: default;
}
#moods-dialog .mood-item .icon {
  display: width 100%;
  height: 100%;
  border-radius: 24px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 26px;
  line-height: 40px;
  color: #000;
  box-shadow: 0 0 5px #ddd;
}
#gags-dialog {
  width: 370px;
}
#gags-dialog .content {
  margin-top: 9px;
  margin-bottom: 9px;
}
#gags-dialog .gag-item {
  padding: 6px 12px 6px 12px;
  margin: 3px;
  border: 1px solid #ddd;
  display: inline-block;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 2px;
}
#gags-dialog .gag-item.normal {
  cursor: pointer;
}
#gags-dialog .gag-item.normal:hover {
  background-color: #5b5;
  border: 1px solid #5b5;
  color: #fff;
  text-shadow: 0 0 2px #666;
}
#gags-dialog .gag-item.chosen {
  background-color: #5b5;
  border: 1px solid #5b5;
  color: #fff;
  text-shadow: 0 0 2px #666;
  cursor: default;
}
#actions-dialog {
  width: 370px;
}
#actions-dialog .content {
  margin-top: 9px;
  margin-bottom: 9px;
}
#actions-dialog .action-item {
  padding: 6px 12px 6px 12px;
  margin: 3px;
  border: 1px solid #ddd;
  display: inline-block;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 2px;
}
#actions-dialog .action-item.normal {
  cursor: pointer;
}
#actions-dialog .action-item.normal:hover {
  background-color: #28f;
  border: 1px solid #28f;
  color: #fff;
  text-shadow: 0 0 2px #666;
}
#actions-dialog .action-item.chosen {
  background-color: #28f;
  border: 1px solid #28f;
  color: #fff;
  text-shadow: 0 0 2px #666;
  cursor: default;
}
#animation-types-dialog {
  width: 280px;
}
#animation-types-dialog .content {
  margin-top: 9px;
  margin-bottom: 9px;
}
#animation-types-dialog .animation-type-item {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 3px;
  border: 1px solid #fff;
  border-radius: 2px;
}
#animation-types-dialog .animation-type-item .icon {
  width: 100%;
  height: 100%;
}
#animation-types-dialog .animation-type-item.normal {
  cursor: pointer;
}
#animation-types-dialog .animation-type-item.normal:hover {
  border: 1px solid #888;
}
#animation-types-dialog .animation-type-item.chosen {
  border: 1px solid #28f;
  box-shadow: 0 0 1px #28f;
  cursor: default;
}
#image-select-dialog {
  font-size: 12px;
  width: 720px;
  height: 480px;
}
#image-select-dialog .title-holder {
  position: relative;
}
#image-select-dialog .content {
  height: 443px;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#image-select-dialog .content .image-item {
  margin-left: 4px;
  margin-right: 4px;
}
#image-select-dialog .content .image-item .image {
  max-width: 320px;
}
#image-select-dialog .button-special {
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#image-select-dialog .cross {
  width: 12px;
  height: 12px;
  line-height: 12px;
  padding: 4px;
  right: 8px;
  top: 7px;
  float: right;
  position: absolute;
  color: #f00;
  border: 1px solid #f00;
}
#image-select-dialog .cross:hover {
  box-shadow: 0 0 2px #f00;
}
#image-select-dialog .cross:active {
  background-color: #f00;
  box-shadow: 0 0 2px #f00;
  color: #fff;
}
#create-message-dialog {
  font-size: 12px;
  width: 360px;
  height: 220px;
}
#create-message-dialog .content {
  height: 140px;
  line-height: 140px;
  padding: 8px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#create-message-dialog .status {
  line-height: 22px;
  white-space: pre;
  vertical-align: middle;
  display: inline-block;
}
#create-message-dialog .message-text {
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  padding: 8px;
  border: 1px solid #ddd;
  font-size: 12px;
  border-radius: 2px;
}
#create-message-dialog .disabled {
  cursor: default;
  opacity: 0.5;
}
#preload-background {
  display: table;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 920px;
  z-index: 100;
  height: 100%;
  background-color: #fff;
}
#preload-background .wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#preload-background .info {
  display: inline-block;
}
#preload-background .title {
  font-size: 32px;
  font-weight: bold;
  color: #333;
}
#preload-background .content {
  margin-top: 32px;
}
#chrome {
  font-size: 12px;
  position: absolute;
  width: 350px;
  text-align: center;
  left: 285px;
  bottom: 5px;
}
#chrome .chrome-image,
#chrome .opera-image,
#chrome .safari-image,
#chrome .yandex-image,
#chrome .firefox-image {
  width: 64px;
  height: 64px;
}
#group {
  display: inline-block;
  height: 32px;
  margin-top: 2px;
  margin-right: 8px;
  padding-right: 8px;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  color: #fff;
  background-color: #5b5;
  text-shadow: 0 0 2px #666;
  border-radius: 2px;
}
#group:hover {
  background-color: #4a4;
}
#group:active {
  background-color: #393;
}
#bender {
  width: 32px;
  height: 32px;
}
#group-text {
  display: inline-block;
  height: 32px;
  line-height: 12px;
  vertical-align: top;
  padding-top: 4px;
  padding-bottom: 4px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.contact {
  position: relative;
  vertical-align: top;
  font-size: 0;
  margin-left: 1px;
  margin-bottom: 1px;
  width: 120px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 2px;
}
.contact.normal {
  cursor: pointer;
}
.contact.normal:hover {
  border: 1px solid #888;
}
.contact.chosen {
  border: 1px solid #28f;
  box-shadow: 0 0 1px #28f;
  cursor: default;
}
.contact .photo {
  padding-top: 10px;
  width: 100px;
  height: 100px;
}
.contact .name {
  margin-left: 1px;
  margin-right: 1px;
  font-size: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  white-space: pre-wrap;
  cursor: pointer;
}
.contact .name:hover {
  color: #28f;
  text-decoration: underline;
}
.contact .unread {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 4px 8px 4px 8px;
  border-radius: 2px;
  font-size: 10px;
  background-color: #f00;
  color: #fff;
  box-shadow: 0 0 4px #333;
}
.message-wrapper {
  display: inline-block;
  height: 100%;
}
.message-wrapper .message {
  margin-top: 0;
}
.tools {
  display: inline-block;
  width: 430px;
  padding-right: 20px;
  vertical-align: top;
  margin-left: 10px;
  text-align: left;
  height: 100%;
  position: absolute;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
.section {
  display: inline-block;
  color: #28f;
  border: 1px solid #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 2px;
}
.text {
  margin-top: 0;
  color: #666;
  font-size: 12px;
  padding: 8px;
  border: 1px solid #ddd;
  margin-bottom: 8px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
}
.text:hover {
  color: #333;
  border: 1px solid #888;
}
.text:focus {
  color: #333;
  border: 1px solid #28f;
  box-shadow: 0 0 2px #28f;
}
.no-reply {
  color: #ccc;
  font-size: 12px;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #fff;
}
.image-item {
  font-size: 0;
  padding: 2px;
  border: 1px solid #ddd;
  display: inline-block;
  border-radius: 2px;
  vertical-align: top;
  cursor: wait;
  margin-right: 8px;
  margin-bottom: 8px;
}
.image-item.ready {
  cursor: pointer;
}
.image-item.ready:hover {
  border: 1px solid #888;
}
.controls {
  float: right;
  text-align: center;
  display: inline-block;
}
.controls .reset {
  margin-right: 0 !important;
}
.controls .button-special {
  margin-right: 10px;
}
.cell {
  display: table-cell;
  vertical-align: top;
}
.closed {
  opacity: 0.5;
}
.happy,
.calm,
.amaze {
  background-color: #ffc944;
  border: 1px solid #cc9611;
}
.anger {
  background-color: #eb0542;
  border: 1px solid #b8000f;
}
.sad {
  background-color: #adcdec;
  border: 1px solid #7a9ab9;
}
@-webkit-keyframes flicker-left-border {
  0% {
    border-left-color: #fff;
  }

  50% {
    border-left-color: rgba(255,255,255,0.85);
  }

  100% {
    border-left-color: #fff;
  }
}
@-webkit-keyframes flicker-non-left-border {
  0% {
    border-right-color: #fff;
    border-top-color: #fff;
    border-bottom-color: #fff;
  }

  50% {
    border-right-color: rgba(255,255,255,0.85);
    border-top-color: rgba(255,255,255,0.85);
    border-bottom-color: rgba(255,255,255,0.85);
  }

  100% {
    border-right-color: #fff;
    border-top-color: #fff;
    border-bottom-color: #fff;
  }
}
@-webkit-keyframes flicker {
  0% {
    background-color: #fff;
  }

  50% {
    background-color: rgba(255,255,255,0.85);
  }

  100% {
    background-color: #fff;
  }
}
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 50px rgba(34,136,255,0);
  }

  50% {
    box-shadow: 0 0 50px #28f;
  }

  100% {
    box-shadow: 0 0 50px rgba(34,136,255,0);
  }
}
@-webkit-keyframes min-pulse {
  0% {
    box-shadow: 0 0 15px rgba(34,136,255,0);
  }

  50% {
    box-shadow: 0 0 15px #28f;
  }

  100% {
    box-shadow: 0 0 15px rgba(34,136,255,0);
  }
}
