<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="theme3.css">
</head>
<body>
  <div id="main">
    <div id="main-layout">
      <div id="menu-wrapper">
        <div id="menu">Messenger Prototype Layout</div>
      </div>
      <div id="page-wrapper">
        <div id="page">
          <div class="page-row" id="titles">
            <div class="column-wrapper" id="contacts">
              <div class="label">Contacts</div>
            </div>
            <div class="column-wrapper" id="chat">
              <div class="label">Chat</div>
            </div>
            <div class="column-wrapper" id="templates">
              <div class="label">Templates</div>
            </div>
          </div>
          <div class="page-row" id="values">
            <div class="column-wrapper" style="position: relative">
              <div id="contact-list">
                <div class="contact-item">Taisha Southwood</div>
                <div class="contact-item">Charlott Kagawa</div>
                <div class="contact-item">Dawn Bromley</div>
                <div class="contact-item">Deshawn Grumbles</div>
                <div class="contact-item">Emmanuel Chaves</div>
                <div class="contact-item">Taisha Southwood</div>
                <div class="contact-item">Charlott Kagawa</div>
                <div class="contact-item">Taisha Southwood</div>
                <div class="contact-item">Charlott Kagawa</div>
                <div class="contact-item">Dawn Bromley</div>
                <div class="contact-item">Deshawn Grumbles</div>
                <div class="contact-item">Emmanuel Chaves</div>
                <div class="contact-item">Taisha Southwood</div>
                <div class="contact-item">Charlott Kagawa</div>
                <div class="contact-item">Taisha Southwood</div>
                <div class="contact-item">Charlott Kagawa</div>
                <div class="contact-item">Dawn Bromley</div>
                <div class="contact-item">Deshawn Grumbles</div>
                <div class="contact-item">Emmanuel Chaves</div>
                <div class="contact-item">Taisha Southwood</div>
                <div class="contact-item">Charlott Kagawa</div>
                <div class="contact-item">Taisha Southwood</div>
                <div class="contact-item">Charlott Kagawa</div>
                <div class="contact-item">Charlott Kagawa</div>
                <div class="contact-item">Dawn Bromley</div>
                <div class="contact-item">Deshawn Grumbles</div>
                <div class="contact-item">Emmanuel Chaves</div>
                <div class="contact-item">Taisha Southwood</div>
              </div>
            </div>
            <div class="column-wrapper" style="position: relative">
              <div id="conversation">
                <div>Deshawn Grumbles and Me</div>
              </div>
              <div id="chat-list">
                <div class="message-item">
                  <div class="contact">
                    <div class="avatar">
                      <img src="http://lh6.googleusercontent.com/-DC1JTtJ1xDI/AAAAAAAAAAI/AAAAAAAAF6I/SBSyjz8mcTA/s512-c/photo.jpg">
                    </div>
                  </div>
                  <div class="message">
                    <div class="message-wrap">
                      Look here:
                      <iframe width="590" height="315" src="//www.youtube.com/embed/h5EofwRzit0" frameborder="0" allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="tools">
                    <div class="time">
                        <img class="time-icon" src="time.svg">
                        <span class="time-value">21:30</span>
                    </div>
                    <div class="simple-button">edit</div>
                    <div class="simple-button">share</div>
                    <div class="simple-button">fullscreen</div>
                    <div class="simple-button negative">delete</div>
                  </div>
                </div>
                <div class="message-item">
                  <div class="contact">
                    <div class="avatar">
                      <img src="http://audiotool.s3.amazonaws.com/users/amaury_aguirre/avatar1/1f866b56-5805-418e-8406-c35ad2827fd1.jpg">
                    </div>
                  </div>
                  <div class="message">
                    <div class="message-wrap">
                      <img src="http://gameseeker.ru/media/screens/455/big-farm_03.jpg">
                    </div>
                  </div>
                  <div class="tools">
                    <div class="time">
                      <img class="time-icon" src="time.svg">
                      <span class="time-value">21:30</span>
                    </div>
                    <div class="simple-button">edit</div>
                    <div class="simple-button">share</div>
                    <div class="simple-button">fullscreen</div>
                    <div class="simple-button negative">delete</div>
                  </div>
                </div>
                <div class="message-item">
                  <div class="contact">
                    <div class="avatar">
                      <img src="http://lh4.googleusercontent.com/-GWO1SPUrt-M/AAAAAAAAAAI/AAAAAAAAAB0/2pNfvHYUYRM/s512-c/photo.jpg">
                    </div>
                  </div>
                  <div class="message">
                    <div class="message-wrap">
                      <h1>Test</h1>
                      <div>line of text</div>
                      <div>line of text</div>
                      <div>line of text</div>
                      <div>line of text</div>
                      <div>line of text</div>
                      <div>line of text</div>
                      <div>line of text</div>
                      <div>line of text</div>
                      <div>line of text</div>
                      <div>line of text</div>
                      <div>line of text</div>
                      <div>line of text</div>
                      <div>line of text</div>
                      <div>line of text</div>
                      <div>line of text</div>
                      <div>line of text12</div>
                      <div>line of text</div>
                      <div>line of text</div>
                      <div>line of text. Next line will be hidden</div>
                      <div>line of text</div>
                      <div>line of text</div>
                      <div>line of text</div>
                    </div>
                  </div>
                  <div class="tools">
                    <div class="time">
                      <img class="time-icon" src="time.svg">
                      <span class="time-value">21:30</span>
                    </div>
                    <div class="simple-button">edit</div>
                    <div class="simple-button">share</div>
                    <div class="simple-button">fullscreen</div>
                    <div class="simple-button negative">delete</div>
                  </div>
                </div>
                <div class="message-item">
                  <div class="contact">
                    <div class="avatar">
                      <img src="http://lh6.googleusercontent.com/-DC1JTtJ1xDI/AAAAAAAAAAI/AAAAAAAAF6I/SBSyjz8mcTA/s512-c/photo.jpg">
                    </div>
                  </div>
                  <div class="message"></div>
                  <div class="tools">
                    <div class="time">
                      <img class="time-icon" src="time.svg">
                      <span class="time-value">21:30</span>
                    </div>
                    <div class="simple-button">edit</div>
                    <div class="simple-button">share</div>
                    <div class="simple-button">fullscreen</div>
                    <div class="simple-button negative">delete</div>
                  </div>
                </div>
                <div class="message-item">
                  <div class="contact">
                    <div class="avatar">
                      <img src="http://lh4.googleusercontent.com/-GWO1SPUrt-M/AAAAAAAAAAI/AAAAAAAAAB0/2pNfvHYUYRM/s512-c/photo.jpg">
                    </div>
                  </div>
                  <div class="message"></div>
                  <div class="tools">
                    <div class="time">
                      <img class="time-icon" src="time.svg">
                      <span class="time-value">21:30</span>
                    </div>
                    <div class="simple-button">edit</div>
                    <div class="simple-button">share</div>
                    <div class="simple-button">fullscreen</div>
                    <div class="simple-button negative">delete</div>
                  </div>
                </div>
                <div class="message-item">
                  <div class="contact">
                    <div class="avatar">
                      <img src="http://lh6.googleusercontent.com/-DC1JTtJ1xDI/AAAAAAAAAAI/AAAAAAAAF6I/SBSyjz8mcTA/s512-c/photo.jpg">
                    </div>
                  </div>
                  <div class="message"></div>
                  <div class="tools">
                    <div class="time">
                      <img class="time-icon" src="time.svg">
                      <span class="time-value">21:30</span>
                    </div>
                    <div class="simple-button">edit</div>
                    <div class="simple-button">share</div>
                    <div class="simple-button">fullscreen</div>
                    <div class="simple-button negative">delete</div>
                  </div>
                </div>
                <div class="message-item">
                  <div class="contact">
                    <div class="avatar">
                      <img src="http://audiotool.s3.amazonaws.com/users/amaury_aguirre/avatar1/1f866b56-5805-418e-8406-c35ad2827fd1.jpg">
                    </div>
                  </div>
                  <div class="message"></div>
                  <div class="tools">
                    <div class="time">
                      <img class="time-icon" src="time.svg">
                      <span class="time-value">21:30</span>
                    </div>
                    <div class="simple-button">edit</div>
                    <div class="simple-button">share</div>
                    <div class="simple-button">fullscreen</div>
                    <div class="simple-button negative">delete</div>
                  </div>
                </div>
                <div class="message-item">
                  <div class="contact">
                    <div class="avatar">
                      <img src="http://lh4.googleusercontent.com/-GWO1SPUrt-M/AAAAAAAAAAI/AAAAAAAAAB0/2pNfvHYUYRM/s512-c/photo.jpg">
                    </div>
                  </div>
                  <div class="message"></div>
                  <div class="tools">
                    <div class="time">
                      <img class="time-icon" src="time.svg">
                      <span class="time-value">21:30</span>
                    </div>
                    <div class="simple-button">edit</div>
                    <div class="simple-button">share</div>
                    <div class="simple-button">fullscreen</div>
                    <div class="simple-button negative">delete</div>
                  </div>
                </div>
                <div class="message-item">
                  <div class="contact">
                    <div class="avatar">
                      <img src="http://lh6.googleusercontent.com/-DC1JTtJ1xDI/AAAAAAAAAAI/AAAAAAAAF6I/SBSyjz8mcTA/s512-c/photo.jpg">
                    </div>
                  </div>
                  <div class="message"></div>
                  <div class="tools">
                    <div class="time">
                      <img class="time-icon" src="time.svg">
                      <span class="time-value">21:30</span>
                    </div>
                    <div class="simple-button">edit</div>
                    <div class="simple-button">share</div>
                    <div class="simple-button">fullscreen</div>
                    <div class="simple-button negative">delete</div>
                  </div>
                </div>
                <div class="message-item">
                  <div class="contact">
                    <div class="avatar">
                      <img src="http://audiotool.s3.amazonaws.com/users/amaury_aguirre/avatar1/1f866b56-5805-418e-8406-c35ad2827fd1.jpg">
                    </div>
                  </div>
                  <div class="message"></div>
                  <div class="tools">
                    <div class="time">
                      <img class="time-icon" src="time.svg">
                      <span class="time-value">21:30</span>
                    </div>
                    <div class="simple-button">edit</div>
                    <div class="simple-button">share</div>
                    <div class="simple-button">fullscreen</div>
                    <div class="simple-button negative">delete</div>
                  </div>
                </div>
                <div class="message-item">
                  <div class="contact">
                    <div class="avatar">
                      <img src="http://lh4.googleusercontent.com/-GWO1SPUrt-M/AAAAAAAAAAI/AAAAAAAAAB0/2pNfvHYUYRM/s512-c/photo.jpg">
                    </div>
                  </div>
                  <div class="message"></div>
                  <div class="tools">
                    <div class="time">
                      <img class="time-icon" src="time.svg">
                      <span class="time-value">21:30</span>
                    </div>
                    <div class="simple-button">edit</div>
                    <div class="simple-button">share</div>
                    <div class="simple-button">fullscreen</div>
                    <div class="simple-button negative">delete</div>
                  </div>
                </div>
                <div class="message-item">
                  <div class="contact">
                    <div class="avatar">
                      <img src="http://lh6.googleusercontent.com/-DC1JTtJ1xDI/AAAAAAAAAAI/AAAAAAAAF6I/SBSyjz8mcTA/s512-c/photo.jpg">
                    </div>
                  </div>
                  <div class="message"></div>
                  <div class="tools">
                    <div class="time">
                      <img class="time-icon" src="time.svg">
                      <span class="time-value">21:30</span>
                    </div>
                    <div class="simple-button">edit</div>
                    <div class="simple-button">share</div>
                    <div class="simple-button">fullscreen</div>
                    <div class="simple-button negative">delete</div>
                  </div>
                </div>
                <div class="message-item">
                  <div class="contact">
                    <div class="avatar">
                      <img src="http://lh4.googleusercontent.com/-GWO1SPUrt-M/AAAAAAAAAAI/AAAAAAAAAB0/2pNfvHYUYRM/s512-c/photo.jpg">
                    </div>
                  </div>
                  <div class="message"></div>
                  <div class="tools">
                    <div class="time">
                      <img class="time-icon" src="time.svg">
                      <span class="time-value">21:30</span>
                    </div>
                    <div class="simple-button">edit</div>
                    <div class="simple-button">share</div>
                    <div class="simple-button">fullscreen</div>
                    <div class="simple-button negative">delete</div>
                  </div>
                </div>
                <div class="message-item">
                  <div class="contact">
                    <div class="avatar">
                      <img src="http://lh6.googleusercontent.com/-DC1JTtJ1xDI/AAAAAAAAAAI/AAAAAAAAF6I/SBSyjz8mcTA/s512-c/photo.jpg">
                    </div>
                  </div>
                  <div class="message"></div>
                </div>
                <div class="message-item">
                  <div class="contact">
                    <div class="avatar">
                      <img src="http://audiotool.s3.amazonaws.com/users/amaury_aguirre/avatar1/1f866b56-5805-418e-8406-c35ad2827fd1.jpg">
                    </div>
                  </div>
                  <div class="message"></div>
                  <div class="tools">
                    <div class="time">
                      <img class="time-icon" src="time.svg">
                      <span class="time-value">21:30</span>
                    </div>
                    <div class="simple-button">edit</div>
                    <div class="simple-button">share</div>
                    <div class="simple-button">fullscreen</div>
                    <div class="simple-button negative">delete</div>
                  </div>
                </div>
                <div class="message-item">
                  <div class="contact">
                    <div class="avatar">
                      <img src="http://lh4.googleusercontent.com/-GWO1SPUrt-M/AAAAAAAAAAI/AAAAAAAAAB0/2pNfvHYUYRM/s512-c/photo.jpg">
                    </div>
                  </div>
                  <div class="message"></div>
                  <div class="tools">
                    <div class="time">
                      <img class="time-icon" src="time.svg">
                      <span class="time-value">21:30</span>
                    </div>
                    <div class="simple-button">edit</div>
                    <div class="simple-button">share</div>
                    <div class="simple-button">fullscreen</div>
                    <div class="simple-button negative">delete</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="column-wrapper">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>