mixin contact
	.contact
		.avatar
			div
				img.avatar-image
		.name
			div.name-text

mixin controls(composite)
	.controls
		if composite
			.simple-button.send send
			.simple-button.negative.clear clear
		else
			.simple-button.edit edit
			.simple-button.negative.clear(style="display: none") clear
			.simple-button.negative.cancel(style="display: none") cancel
			.simple-button.share share
			.simple-button.fullscreen fullscreen
			.simple-button.negative.delete delete

mixin message(editable, composite)
	if editable
		.message.dynamic
			.avatar
				.image
					img(src="http://lh6.googleusercontent.com/-DC1JTtJ1xDI/AAAAAAAAAAI/AAAAAAAAF6I/SBSyjz8mcTA/s512-c/photo.jpg")
			.content
				.container.dynamic
					.editor(contenteditable="true")
			if composite
				+controls(true)
			else
				+controls(false)
	else
		.message.static
			.avatar
				.image
					img(src="http://lh6.googleusercontent.com/-DC1JTtJ1xDI/AAAAAAAAAAI/AAAAAAAAF6I/SBSyjz8mcTA/s512-c/photo.jpg")
			.content
				.container.static
					.editor(contenteditable="false")
						img(src="http://larryfire.files.wordpress.com/2008/11/ny.png")
						//iframe(width="100%", height="100%" ,src="//www.youtube.com/embed/h5EofwRzit0", frameborder="0", allowfullscreen)
			if composite
				+controls(true)
			else
				+controls(false)

mixin chatbox
	#chatbox
		.wrap
			#board
				#conversation
					.wrap Deshawn Grumbles and Me
				#stream
					.wrap
						+message
				#composer.dynamic
					.wrap
						+message(true, true)

doctype html
html
	head
		title Messenger
		link(rel="stylesheet", href="messenger.css")
		script(type="application/javascript", src="messenger.js")
	body
		#template(style="display:none")
			+message
			+contact
		button#hide-composer Hide composer
		#page
			.wrap
				#application
					#menu
						.content Messenger Prototype Layout
					#workspace
						.content
							.row.titles
								.cell
									.title Contacts
								.cell
									.title Chat
								.cell
									.title Tools
							.row
								#contacts.cell
									.wrap
										.list
								#chat.cell
									.wrap
										+chatbox
								#tools.cell
		#dialog.passive
			.container
				.content
			.title
				span(style="margin-left: 1em") Message
				.close Close
