<!DOCTYPE html>
<html>
  <head>
    <title>Messenger</title>
    <link rel="stylesheet" href="messenger.css">
    <script type="application/javascript" src="messenger.js"></script>
  </head>
  <body>
    <div id="page">
      <div class="wrap">
        <div id="application">
          <div id="menu">
            <div class="content">Messenger Prototype Layout</div>
          </div>
          <div id="workspace">
            <div class="content">
              <div class="row titles">
                <div class="cell">
                  <div class="title">Contacts</div>
                </div>
                <div class="cell">
                  <div class="title">Chat</div>
                </div>
                <div class="cell">
                  <div class="title">Tools</div>
                </div>
              </div>
              <div class="row">
                <div id="contacts" class="cell">
                  <div class="wrap">
                    <div class="list">
                      <div class="contact">Taisha Southwood</div>
                      <div class="contact">Charlott Kagawa</div>
                      <div class="contact">Dawn Bromley</div>
                      <div class="contact">Deshawn Grumbles</div>
                      <div class="contact">Emmanuel Chaves</div>
                      <div class="contact">Taisha Southwood</div>
                      <div class="contact">Charlott Kagawa</div>
                      <div class="contact">Taisha Southwood</div>
                      <div class="contact">Charlott Kagawa</div>
                      <div class="contact">Dawn Bromley</div>
                      <div class="contact">Deshawn Grumbles</div>
                      <div class="contact">Emmanuel Chaves</div>
                      <div class="contact">Taisha Southwood</div>
                      <div class="contact">Charlott Kagawa</div>
                      <div class="contact">Taisha Southwood</div>
                      <div class="contact">Charlott Kagawa</div>
                      <div class="contact">Dawn Bromley</div>
                      <div class="contact">Deshawn Grumbles</div>
                      <div class="contact">Emmanuel Chaves</div>
                      <div class="contact">Taisha Southwood</div>
                      <div class="contact">Charlott Kagawa</div>
                      <div class="contact">Taisha Southwood</div>
                      <div class="contact">Charlott Kagawa</div>
                      <div class="contact">Dawn Bromley</div>
                      <div class="contact">Deshawn Grumbles</div>
                      <div class="contact">Emmanuel Chaves</div>
                      <div class="contact">Taisha Southwood</div>
                      <div class="contact">Charlott Kagawa</div>
                    </div>
                  </div>
                </div>
                <div id="chat" class="cell">
                  <div class="wrap">
                    <div id="chatbox">
                      <div class="wrap">
                        <div id="board">
                          <div id="conversation">
                            <div class="wrap">Deshawn Grumbles and Me</div>
                          </div>
                          <div id="stream">
                            <div class="wrap">
                              <div class="message">
                                <div class="avatar">
                                  <div class="image"><img src="http://lh6.googleusercontent.com/-DC1JTtJ1xDI/AAAAAAAAAAI/AAAAAAAAF6I/SBSyjz8mcTA/s512-c/photo.jpg"/></div>
                                </div>
                                <div class="content">
                                  <div class="container static">
                                    <div contenteditable="false" class="editor"><img src="http://larryfire.files.wordpress.com/2008/11/ny.png"/></div>
                                  </div>
                                </div>
                                <div class="tools"></div>
                              </div>
                              <div class="message">
                                <div class="avatar">
                                  <div class="image"><img src="http://lh6.googleusercontent.com/-DC1JTtJ1xDI/AAAAAAAAAAI/AAAAAAAAF6I/SBSyjz8mcTA/s512-c/photo.jpg"/></div>
                                </div>
                                <div class="content">
                                  <div class="container static">
                                    <div contenteditable="false" class="editor"><img src="http://larryfire.files.wordpress.com/2008/11/ny.png"/></div>
                                  </div>
                                </div>
                                <div class="tools"></div>
                              </div>
                              <div class="message">
                                <div class="avatar">
                                  <div class="image"><img src="http://lh6.googleusercontent.com/-DC1JTtJ1xDI/AAAAAAAAAAI/AAAAAAAAF6I/SBSyjz8mcTA/s512-c/photo.jpg"/></div>
                                </div>
                                <div class="content">
                                  <div class="container static">
                                    <div contenteditable="false" class="editor"><img src="http://larryfire.files.wordpress.com/2008/11/ny.png"/></div>
                                  </div>
                                </div>
                                <div class="tools"></div>
                              </div>
                              <div class="message">
                                <div class="avatar">
                                  <div class="image"><img src="http://lh6.googleusercontent.com/-DC1JTtJ1xDI/AAAAAAAAAAI/AAAAAAAAF6I/SBSyjz8mcTA/s512-c/photo.jpg"/></div>
                                </div>
                                <div class="content">
                                  <div class="container static">
                                    <div contenteditable="false" class="editor"><img src="http://larryfire.files.wordpress.com/2008/11/ny.png"/></div>
                                  </div>
                                </div>
                                <div class="tools"></div>
                              </div>
                              <div class="message">
                                <div class="avatar">
                                  <div class="image"><img src="http://lh6.googleusercontent.com/-DC1JTtJ1xDI/AAAAAAAAAAI/AAAAAAAAF6I/SBSyjz8mcTA/s512-c/photo.jpg"/></div>
                                </div>
                                <div class="content">
                                  <div class="container static">
                                    <div contenteditable="false" class="editor"><img src="http://larryfire.files.wordpress.com/2008/11/ny.png"/></div>
                                  </div>
                                </div>
                                <div class="tools"></div>
                              </div>
                              <div class="message">
                                <div class="avatar">
                                  <div class="image"><img src="http://lh6.googleusercontent.com/-DC1JTtJ1xDI/AAAAAAAAAAI/AAAAAAAAF6I/SBSyjz8mcTA/s512-c/photo.jpg"/></div>
                                </div>
                                <div class="content">
                                  <div class="container static">
                                    <div contenteditable="false" class="editor"><img src="http://larryfire.files.wordpress.com/2008/11/ny.png"/></div>
                                  </div>
                                </div>
                                <div class="tools"></div>
                              </div>
                              <div class="message">
                                <div class="avatar">
                                  <div class="image"><img src="http://lh6.googleusercontent.com/-DC1JTtJ1xDI/AAAAAAAAAAI/AAAAAAAAF6I/SBSyjz8mcTA/s512-c/photo.jpg"/></div>
                                </div>
                                <div class="content">
                                  <div class="container static">
                                    <div contenteditable="false" class="editor"><img src="http://larryfire.files.wordpress.com/2008/11/ny.png"/></div>
                                  </div>
                                </div>
                                <div class="tools"></div>
                              </div>
                              <div class="message">
                                <div class="avatar">
                                  <div class="image"><img src="http://lh6.googleusercontent.com/-DC1JTtJ1xDI/AAAAAAAAAAI/AAAAAAAAF6I/SBSyjz8mcTA/s512-c/photo.jpg"/></div>
                                </div>
                                <div class="content">
                                  <div class="container static">
                                    <div contenteditable="false" class="editor"><img src="http://larryfire.files.wordpress.com/2008/11/ny.png"/></div>
                                  </div>
                                </div>
                                <div class="tools"></div>
                              </div>
                              <div class="message">
                                <div class="avatar">
                                  <div class="image"><img src="http://lh6.googleusercontent.com/-DC1JTtJ1xDI/AAAAAAAAAAI/AAAAAAAAF6I/SBSyjz8mcTA/s512-c/photo.jpg"/></div>
                                </div>
                                <div class="content">
                                  <div class="container static">
                                    <div contenteditable="false" class="editor"><img src="http://larryfire.files.wordpress.com/2008/11/ny.png"/></div>
                                  </div>
                                </div>
                                <div class="tools"></div>
                              </div>
                              <div class="message">
                                <div class="avatar">
                                  <div class="image"><img src="http://lh6.googleusercontent.com/-DC1JTtJ1xDI/AAAAAAAAAAI/AAAAAAAAF6I/SBSyjz8mcTA/s512-c/photo.jpg"/></div>
                                </div>
                                <div class="content">
                                  <div class="container static">
                                    <div contenteditable="false" class="editor"><img src="http://larryfire.files.wordpress.com/2008/11/ny.png"/></div>
                                  </div>
                                </div>
                                <div class="tools"></div>
                              </div>
                              <div class="message">
                                <div class="avatar">
                                  <div class="image"><img src="http://lh6.googleusercontent.com/-DC1JTtJ1xDI/AAAAAAAAAAI/AAAAAAAAF6I/SBSyjz8mcTA/s512-c/photo.jpg"/></div>
                                </div>
                                <div class="content">
                                  <div class="container static">
                                    <div contenteditable="false" class="editor"><img src="http://larryfire.files.wordpress.com/2008/11/ny.png"/></div>
                                  </div>
                                </div>
                                <div class="tools"></div>
                              </div>
                              <div class="message">
                                <div class="avatar">
                                  <div class="image"><img src="http://lh6.googleusercontent.com/-DC1JTtJ1xDI/AAAAAAAAAAI/AAAAAAAAF6I/SBSyjz8mcTA/s512-c/photo.jpg"/></div>
                                </div>
                                <div class="content">
                                  <div class="container static">
                                    <div contenteditable="false" class="editor"><img src="http://larryfire.files.wordpress.com/2008/11/ny.png"/></div>
                                  </div>
                                </div>
                                <div class="tools"></div>
                              </div>
                              <div class="message">
                                <div class="avatar">
                                  <div class="image"><img src="http://lh6.googleusercontent.com/-DC1JTtJ1xDI/AAAAAAAAAAI/AAAAAAAAF6I/SBSyjz8mcTA/s512-c/photo.jpg"/></div>
                                </div>
                                <div class="content">
                                  <div class="container static">
                                    <div contenteditable="false" class="editor"><img src="http://larryfire.files.wordpress.com/2008/11/ny.png"/></div>
                                  </div>
                                </div>
                                <div class="tools"></div>
                              </div>
                            </div>
                          </div>
                          <div id="composer">
                            <div class="wrap">
                              <div class="message">
                                <div class="avatar">
                                  <div class="image"><img src="http://lh6.googleusercontent.com/-DC1JTtJ1xDI/AAAAAAAAAAI/AAAAAAAAF6I/SBSyjz8mcTA/s512-c/photo.jpg"/></div>
                                </div>
                                <div class="content">
                                  <div class="container dynamic">
                                    <div contenteditable="true" class="editor">
                                      <!--img(src="http://larryfire.files.wordpress.com/2008/11/ny.png")-->
                                    </div>
                                  </div>
                                </div>
                                <div class="tools"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="tools" class="cell"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>