mixin contact-template
	template#contact-template(style="display:none")
		.info-block
			.contact-avatar-wrap
				img.contact-avatar
		.info-block
			.contact-name
		.messages-block
			.message-count
mixin contact
	.contact.offline
		.avatar
			div
				img.avatar-image
		.name
			div.name-text
mixin public
	.public
		.avatar
			div
				img.avatar-image
		.name
			div.name-text
mixin theme
	.theme
		.avatar
			div
				img.avatar-image
		.name
			div.name-text
mixin controls(composite)
	.controls
		if composite
			.simple-button.send send
			.simple-button.negative.clear clear
		else
			// .time
			// 	.time-value 19:30
			.simple-button.edit edit
			.simple-button.negative.clear(style="display: none") clear
			.simple-button.negative.cancel(style="display: none") cancel
			.simple-button.share share
			.simple-button.fullscreen fullscreen
			.simple-button.negative.delete delete
mixin account
	.account
		.login-controls
			form#login-form
				input.login-input(type="text", size=16)
				input(type="text", style="display: none")
				.login-button Login
				.status
				.cancel-login-button Cancel
		.logout-controls
			.avatar
				img
			.name
			.settings Settings
			.logout-button Logout
mixin message(editable, composite)
	if editable
		.message.dynamic
			if !composite
				.block
					.name
					.time
			.block
				.avatar
					.image
						img
				.content
					.container.dynamic
						.editor(contenteditable="true", spellcheck="false")
				if composite
					+controls(true)
				else
					+controls(false)
	else
		.message.static
			if !composite
				.block
					.name
					.time
			.block
				.avatar
					.image
						img
				.content
					.container.static
						.editor(contenteditable="false", spellcheck="false")
				if composite
					+controls(true)
				else
					+controls(false)
mixin chatbox
	#chatbox
		.wrap
			#board
				#conversation.passive
					.wrap
				#stream
					.wrap
				#composer.dynamic.passive
					.wrap
						+message(true, true)
mixin tool
	.tool
		.title
		.controls
doctype html
html
	head
		title Messenger
		link(rel="stylesheet", href="styles/reset.css")
		link(rel="stylesheet", href="styles/fonts.css")
		link(rel="stylesheet", href="simple-messenger2.css")
		script(type="application/javascript", src="uuid.js")
		script(type="application/javascript", src="base64.js")
		script(type="application/javascript", src="chat.js")
		script(type="application/javascript", src="html.js")
		script(type="application/javascript", src="template.js")
		script(type="application/javascript", src="simple-messenger2.js")
	body
		+contact-template
		audio#new-message-sound(src="newMessageSpace.wav", preload="auto", style="controls: none")
		#template(style="display:none")
			+message
			//+stream-message
			+contact
			+public
			+theme
			+tool
			+account
		//button#hide-composer Hide composer
		//button#add-message Add message
		#page
			.wrap
				#application
					#menu
						.content Messenger Prototype
					#workspace
						.content
							.row.titles
								.cell
									.title Contacts
								.cell
									.title Chat
								.cell
									.title Tools
							.row
								#contacts.cell
									.prewrap
										.wrap
											.list
								#chat.cell
									.prewrap
										.wrap
											+chatbox
								#tools.cell
									.prewrap
										.wrap
		#dialog.passive
			.container
				.content
			.title
				span(style="margin-left: 1em") Message
				.close Close
