<!DOCTYPE html>
<html>
  <head>
    <title>Messenger</title>
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/fonts.css">
    <link rel="stylesheet" href="simple-messenger2.css">
    <script type="application/javascript" src="https://vkontakte.ru/js/api/openapi.js"></script>
    <script type="application/javascript" src="uuid.js"></script>
    <script type="application/javascript" src="base64.js"></script>
    <script type="application/javascript" src="html.js"></script>
    <script type="application/javascript" src="template.js"></script>
    <script type="application/javascript" src="mvp.js"></script>
    <script type="application/javascript" src="chat.js"></script>
    <script type="application/javascript" src="chat.models.js"></script>
    <script type="application/javascript" src="chat.store.js"></script>
    <script type="application/javascript" src="chat.views.js"></script>
    <script type="application/javascript" src="simple-messenger2.js"></script>
  </head>
  <body>
    <template id="message-composer-template" style="display:none">
      <div class="info-block">
        <div class="avatar-block">
          <div class="avatar-wrap"><img class="avatar"/></div>
        </div>
        <div class="content-block">
          <div class="container">
            <div contenteditable="false" spellcheck="false" class="editor"></div>
          </div>
        </div>
        <div class="controls-block">
          <div class="simple-button send">send</div>
          <div class="simple-button negative clear">clear</div>
        </div>
      </div>
    </template>
    <template id="message-stream-template" style="display:none">
      <div class="info-block">
        <div class="name"></div>
        <div class="time"></div>
      </div>
      <div class="info-block">
        <div class="avatar-block">
          <div class="avatar-wrap"><img class="avatar"/></div>
        </div>
        <div class="content-block">
          <div class="container">
            <div contenteditable="false" spellcheck="false" class="editor"></div>
          </div>
        </div>
        <div class="controls-block">
          <div class="simple-button more">more...</div>
          <div class="buttons-holder hidden">
            <div class="simple-button share">share</div>
            <div class="simple-button wall">on wall</div>
            <div class="simple-button borrow">borrow</div>
            <div class="simple-button edit">edit</div>
            <div class="simple-button clear hidden">clear</div>
            <div class="simple-button negative cancel hidden">cancel</div>
            <div class="simple-button negative hide">hide</div>
            <div class="simple-button negative delete">delete</div>
            <div class="simple-button fullscreen">fullscreen</div>
          </div>
          <div class="simple-button overflow-fullscreen super-hidden">fullscreen</div>
        </div>
      </div>
    </template>
    <template id="contact-template" style="display:none">
      <div class="info-block">
        <div class="avatar-wrap"><img class="avatar"/></div>
      </div>
      <div class="info-block">
        <div class="name"></div>
      </div>
      <div class="message-block">
        <div class="count"></div>
      </div>
    </template>
    <template id="account-template" style="display:none">
      <div class="login-controls">
        <form id="login-form">
          <input type="text" size="16" class="login-input"/>
          <input type="text" style="display: none"/>
          <div class="login-button">Login</div>
          <div class="status"></div>
          <div class="cancel-login-button">Cancel</div>
        </form>
      </div>
      <div class="logout-controls">
        <div class="avatar"><img/></div>
        <div class="name"></div>
        <div class="settings">Settings</div>
        <div class="logout-button">Logout</div>
      </div>
    </template>
    <template id="chatbox-template" style="display:none">
      <div class="wrap">
        <div class="board">
          <div class="conversation hidden">
            <div class="wrap"></div>
          </div>
          <div class="stream">
            <div class="wrap"></div>
          </div>
          <div class="composer dynamic hidden">
            <div class="wrap"></div>
          </div>
        </div>
      </div>
    </template>
    <template id="message-counter-template" style="display:none"><span class="messages-info hidden"><span class="count"></span><span class="text">unread messages</span></span></template>
    <audio id="new-message-sound" src="newMessageSpace.wav" preload="auto" style="controls: none"></audio>
    <div id="page">
      <div class="wrap">
        <div id="application">
          <div id="menu">
            <div class="content">Messenger</div>
          </div>
          <div id="workspace">
            <div class="content">
              <div class="row titles">
                <div class="cell">
                  <div class="title">Contacts</div>
                </div>
                <div class="cell">
                  <div id="chat-head" class="title">Chat</div>
                </div>
                <div class="cell">
                  <div class="title">Tools</div>
                </div>
              </div>
              <div class="row">
                <div id="contacts" class="cell">
                  <div class="prewrap">
                    <div class="wrap">
                      <div class="list"></div>
                    </div>
                  </div>
                </div>
                <div id="chat" class="cell">
                  <div class="prewrap">
                    <div class="wrap"></div>
                  </div>
                </div>
                <div id="tools" class="cell">
                  <div class="prewrap">
                    <div class="wrap"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="dialog" class="hidden">
      <div class="container">
        <div class="content"></div>
      </div>
      <div class="title"><span style="margin-left: 1em">Message</span>
        <div class="close">Close</div>
      </div>
    </div>
    <div id="share-dialog" class="hidden">
      <div class="container">
        <div class="box">
          <div class="title">Share Message</div>
          <div class="link-place">
            <div class="link-text">Link:</div>
            <input type="text" readonly value="www.test.com" class="link">
          </div>
          <div class="controls-place">
            <div class="close simple-button negative">close</div>
          </div>
        </div>
      </div>
    </div>
    <div id="wall-publication" class="hidden">
      <div class="container">
        <div class="cancel">Cancel</div>
      </div>
    </div>
  </body>
</html>