@font-face
  font-family 'wf_segoe-ui_light'
  src url('http://i.s-microsoft.com/fonts/segoe-ui/cyrillic/light/latest.woff')
html, body
  width 100%
  height 100%
  margin 0
  padding 0
  background-color #fefefe
  font-family wf_segoe-ui_light, Segoe UI Light, Helvetica
  color #444;
#main
  position absolute
  top 0
  bottom 0
  left 0
  right 0
#main-layout
  background-color white
  display table
  table-layout fixed
  margin 0 auto
  width 70em
  height 100%
  box-shadow 0 0 0.25em #ccc
#menu-wrapper
  display table-row
  height 3em
#menu
  line-height 3em
  font-size 1.25em
  background-color rgb(21, 112, 166)
  color white
  vertical-align middle
  padding-left 1em
#page-wrapper
  display table-row
#page
  display table
  height 100%
  width 100%
.page-row
  display table-row
#titles
  background-color rgb(238, 238, 238)
  color black
  height 3em
.column-wrapper
  display table-cell
  .label
    padding-top 0.75em
    padding-bottom 0.75em
    width 100%
    text-align center
    font-size 1.1em
    border-bottom 1px solid #ddd
#contacts
  width 11em
#contact-list
  display table-cell
  border-right 1px solid #ddd
  position absolute
  overflow auto
  width 100%
  bottom 0
  top 0
  .contact-item
    font-size 0.8em
    padding-left 2.5em
    padding-top 1em
    padding-bottom 1em
    border-bottom 1px solid #eee
    &:hover
      background-color #55BB55
      color white
#chat
  width 43em
#conversation
  z-index 1
  display table-cell
  border-left 1px solid #ddd
  border-right 1px solid #ddd
  border-bottom 1px solid #ddd
  position absolute
  overflow hidden
  width 100%
  top 0
  height 2.25em
  background-color #fffcf1
  >div
    line-height 2.25em * (1 / 0.9)
    font-size 0.9em
    height 100%
    vertical-align middle
  text-align center
#chat-list
  display table-cell
  border-left 1px solid #ddd
  border-right 1px solid #ddd
  position absolute
  overflow auto
  width 100%
  bottom 0
  top 2.25em
  .message-item
    width 100%
    border-bottom 1px solid #eee
    .contact, .message, .tools
      display table-cell
      vertical-align top
      padding-top 0.75em
      padding-bottom 0.75em
    .contact
      width 6em
      .avatar
        margin 0 auto
        display block
        text-align center
        box-shadow 0 0 0.25em #aaa
        width 4.5em
        height 4.5em
        border 2px solid white
        img
          width 100%
    .message
      .message-wrap
        width 29em
        overflow hidden
        max-height 30em
        margin-left 0em
        margin-right 0em
      width 29em
      overflow hidden
    .tools
      margin-top 0.5em !important
      .simple-button
        cursor pointer
        font-size 0.8em
        color #888
        //background-color #55BB55
        //border 1px solid #222
        border 1px solid #eee
        padding-top 0.5em
        padding-bottom 0.5em
        margin-bottom 0.35em
        &:hover
          border 1px solid #bbb
          box-shadow 0 0 0.2em #ddd
          color #222
        &.negative
          //color white
          margin-top 1em
          border 1px solid #ffcccc
          //background-color #FF2222
      width 6.5em
      text-align center
      padding-left 0.75em
      padding-right 0.75em
      .time
        line-height 1.5em
        margin-bottom 0.5em
        .time-icon
          vertical-align top
          width 1em
          height 1em
          margin-top 0.43em
        .time-value
          vertical-align top
          font-size 1.25em
          padding 0

#message-composer
  display table-row
  border-top 1px solid #ddd

