<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="wysiwyg.css">
    <script type="text/javascript">
      window.onload = function() {
       var messages = document.getElementsByClassName("message");
       for (var i = 0; i < messages.length; i++) {
        var message = messages[i];
        (function(message) {
         var editButton = message.getElementsByClassName("edit")[0];
         var container = message.getElementsByClassName("container")[0];
         var editor = message.getElementsByClassName("editor")[0];
         editButton.addEventListener("click", function(e) {
          if (container.className == "container dynamic") {
           editor.setAttribute("contenteditable", false);
           container.className = "container static";
          } else {
           editor.setAttribute("contenteditable", true);
           container.className = "container dynamic";
          }
         });
        })(message);
       }
      };
    </script>
  </head>
  <body>
    <div id="page">
      <div class="wrap">
        <div id="chat">
          <div class="row messages">
            <div class="wrap">
              <div class="message">
                <div class="avatar">
                  <div class="image"></div>
                </div>
                <div class="content">
                  <div class="container static">
                    <div class="editor"><img src="http://larryfire.files.wordpress.com/2008/11/ny.png"/></div>
                  </div>
                </div>
                <div class="tools">"tools"
                  <button class="edit">edit</button>
                </div>
              </div>
              <div class="message">
                <div class="avatar">
                  <div class="image"></div>
                </div>
                <div class="content">
                  <div class="container static">
                    <div class="editor"><img src="http://larryfire.files.wordpress.com/2008/11/ny.png"/></div>
                  </div>
                </div>
                <div class="tools">"tools"
                  <button class="edit">edit</button>
                </div>
              </div>
              <div class="message">
                <div class="avatar">
                  <div class="image"></div>
                </div>
                <div class="content">
                  <div class="container static">
                    <div class="editor"><img src="http://larryfire.files.wordpress.com/2008/11/ny.png"/></div>
                  </div>
                </div>
                <div class="tools">"tools"
                  <button class="edit">edit</button>
                </div>
              </div>
              <div class="message">
                <div class="avatar">
                  <div class="image"></div>
                </div>
                <div class="content">
                  <div class="container static">
                    <div class="editor"><img src="http://larryfire.files.wordpress.com/2008/11/ny.png"/></div>
                  </div>
                </div>
                <div class="tools">"tools"
                  <button class="edit">edit</button>
                </div>
              </div>
              <div class="message">
                <div class="avatar">
                  <div class="image"></div>
                </div>
                <div class="content">
                  <div class="container static">
                    <div class="editor"><img src="http://larryfire.files.wordpress.com/2008/11/ny.png"/></div>
                  </div>
                </div>
                <div class="tools">"tools"
                  <button class="edit">edit</button>
                </div>
              </div>
              <div class="message">
                <div class="avatar">
                  <div class="image"></div>
                </div>
                <div class="content">
                  <div class="container static">
                    <div class="editor"><img src="http://larryfire.files.wordpress.com/2008/11/ny.png"/></div>
                  </div>
                </div>
                <div class="tools">"tools"
                  <button class="edit">edit</button>
                </div>
              </div>
              <div class="message">
                <div class="avatar">
                  <div class="image"></div>
                </div>
                <div class="content">
                  <div class="container static">
                    <div class="editor"><img src="http://larryfire.files.wordpress.com/2008/11/ny.png"/></div>
                  </div>
                </div>
                <div class="tools">"tools"
                  <button class="edit">edit</button>
                </div>
              </div>
              <div class="message">
                <div class="avatar">
                  <div class="image"></div>
                </div>
                <div class="content">
                  <div class="container static">
                    <div class="editor"><img src="http://larryfire.files.wordpress.com/2008/11/ny.png"/></div>
                  </div>
                </div>
                <div class="tools">"tools"
                  <button class="edit">edit</button>
                </div>
              </div>
              <div class="message">
                <div class="avatar">
                  <div class="image"></div>
                </div>
                <div class="content">
                  <div class="container static">
                    <div class="editor"><img src="http://larryfire.files.wordpress.com/2008/11/ny.png"/></div>
                  </div>
                </div>
                <div class="tools">"tools"
                  <button class="edit">edit</button>
                </div>
              </div>
              <div class="message">
                <div class="avatar">
                  <div class="image"></div>
                </div>
                <div class="content">
                  <div class="container static">
                    <div class="editor"><img src="http://larryfire.files.wordpress.com/2008/11/ny.png"/></div>
                  </div>
                </div>
                <div class="tools">"tools"
                  <button class="edit">edit</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row composer">
            <div class="wrap">
              <div class="message">
                <div class="avatar">
                  <div class="image"></div>
                </div>
                <div class="content">
                  <div class="container dynamic">
                    <div contenteditable="true" class="editor">
                      <!--img(src="http://larryfire.files.wordpress.com/2008/11/ny.png")-->
                    </div>
                  </div>
                </div>
                <div class="tools">"tools"
                  <button class="edit">edit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>