<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="wysiwyg.css">
  </head>
  <body>
    <div id="page">
      <div class="wrap">
        <div id="chat">
          <div class="row messages">
            <div class="wrap">
              <div class="message">
                <div class="avatar">
                  <div class="image"></div>
                </div>
                <div class="content">
                  <div class="container static">
                    <div class="editor"><img src="http://larryfire.files.wordpress.com/2008/11/ny.png"/></div>
                  </div>
                </div>
                <div class="tools">"tools"</div>
              </div>
              <div class="message">
                <div class="avatar">
                  <div class="image"></div>
                </div>
                <div class="content">
                  <div class="container static">
                    <div class="editor"><img src="http://larryfire.files.wordpress.com/2008/11/ny.png"/></div>
                  </div>
                </div>
                <div class="tools">"tools"</div>
              </div>
              <div class="message">
                <div class="avatar">
                  <div class="image"></div>
                </div>
                <div class="content">
                  <div class="container static">
                    <div class="editor"><img src="http://larryfire.files.wordpress.com/2008/11/ny.png"/></div>
                  </div>
                </div>
                <div class="tools">"tools"</div>
              </div>
              <div class="message">
                <div class="avatar">
                  <div class="image"></div>
                </div>
                <div class="content">
                  <div class="container static">
                    <div class="editor"><img src="http://larryfire.files.wordpress.com/2008/11/ny.png"/></div>
                  </div>
                </div>
                <div class="tools">"tools"</div>
              </div>
              <div class="message">
                <div class="avatar">
                  <div class="image"></div>
                </div>
                <div class="content">
                  <div class="container static">
                    <div class="editor"><img src="http://larryfire.files.wordpress.com/2008/11/ny.png"/></div>
                  </div>
                </div>
                <div class="tools">"tools"</div>
              </div>
              <div class="message">
                <div class="avatar">
                  <div class="image"></div>
                </div>
                <div class="content">
                  <div class="container static">
                    <div class="editor"><img src="http://larryfire.files.wordpress.com/2008/11/ny.png"/></div>
                  </div>
                </div>
                <div class="tools">"tools"</div>
              </div>
              <div class="message">
                <div class="avatar">
                  <div class="image"></div>
                </div>
                <div class="content">
                  <div class="container static">
                    <div class="editor"><img src="http://larryfire.files.wordpress.com/2008/11/ny.png"/></div>
                  </div>
                </div>
                <div class="tools">"tools"</div>
              </div>
              <div class="message">
                <div class="avatar">
                  <div class="image"></div>
                </div>
                <div class="content">
                  <div class="container static">
                    <div class="editor"><img src="http://larryfire.files.wordpress.com/2008/11/ny.png"/></div>
                  </div>
                </div>
                <div class="tools">"tools"</div>
              </div>
              <div class="message">
                <div class="avatar">
                  <div class="image"></div>
                </div>
                <div class="content">
                  <div class="container static">
                    <div class="editor"><img src="http://larryfire.files.wordpress.com/2008/11/ny.png"/></div>
                  </div>
                </div>
                <div class="tools">"tools"</div>
              </div>
              <div class="message">
                <div class="avatar">
                  <div class="image"></div>
                </div>
                <div class="content">
                  <div class="container static">
                    <div class="editor"><img src="http://larryfire.files.wordpress.com/2008/11/ny.png"/></div>
                  </div>
                </div>
                <div class="tools">"tools"</div>
              </div>
            </div>
          </div>
          <div class="row composer">
            <div class="wrap">
              <div class="message">
                <div class="avatar">
                  <div class="image"></div>
                </div>
                <div class="content">
                  <div class="container dynamic">
                    <div contenteditable="true" class="editor"><img src="http://larryfire.files.wordpress.com/2008/11/ny.png"/></div>
                  </div>
                </div>
                <div class="tools">"tools"</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>