mixin message(editable)
	.message
		.avatar
			.image
		if editable == true
			.content
				.container.dynamic
					.editor(contenteditable="true")
						//img(src="http://larryfire.files.wordpress.com/2008/11/ny.png")
		else
			.content
				.container.static
					.editor
						img(src="http://larryfire.files.wordpress.com/2008/11/ny.png")
		.tools "tools"
			button.edit edit

doctype html
html
	head
		title
		link(rel="stylesheet", href="wysiwyg.css")
		script(type="text/javascript").
			window.onload = function() {
				var messages = document.getElementsByClassName("message");
				for (var i = 0; i < messages.length; i++) {
					var message = messages[i];
					(function(message) {
						var editButton = message.getElementsByClassName("edit")[0];
						var container = message.getElementsByClassName("container")[0];
						var editor = message.getElementsByClassName("editor")[0];
						editButton.addEventListener("click", function(e) {
							if (container.className == "container dynamic") {
								editor.setAttribute("contenteditable", false);
								container.className = "container static";
							} else {
								editor.setAttribute("contenteditable", true);
								container.className = "container dynamic";
							}
						});
					})(message);
				}
			};
	body
		#page
			.wrap
				#chat
					.row.messages
						.wrap
							+message
							+message
							+message
							+message
							+message
							+message
							+message
							+message
							+message
							+message
					.row.composer
						.wrap
							+message(true)