aspect-color = #28f
active-aspect-color = #26d
default-font-color = #666
default-width = 920px

user-select(value)
	-webkit-user-select value
	user-select value
box-sizing(value)
	-moz-box-sizing value
	box-sizing value
transform(value)
	-webkit-transform value
	-moz-transform value
	-ms-transform value
	transform value
*
	outline 0
html, body
	position absolute
	top 0
	bottom 0
	left 0
	right 0
	margin 0
	padding 0
	display block
	font-family 'Open Sans', Verdana
	color default-font-color
	background-color #fff
	text-rendering optimizeLegibility
	overflow-x hidden
::-webkit-scrollbar
	width 8px
	height 8px
	margin 0 auto
::-webkit-scrollbar-thumb
	background-color #ddd
.hidden
	display none !important
#menu
	user-select(none)
	position fixed
	top 0
	font-size 12px
	width 920px
	box-sizing(border-box)
	height 36px
	line-height 36px
	vertical-align middle
	z-index 10
	background-color #fff
	box-shadow 0 0 6px #888
#menu-container
	vertical-align top
	position relative
	text-align center
	margin-left 12px
	margin-right 12px
	box-sizing(content-box)
#logo
	position absolute
	left 0
	font-size 14px !important
	font-weight bold
	color #333
	cursor pointer
	&:hover
		color aspect-color
#logo, #breadcrumbs
	display inline-block
#logo-pic
	top 3px
	width 22px
	height 16px
	border-radius 4px
	background-color aspect-color
	position relative
	display inline-block
	&:after
		content ""
		position absolute
		top 16px
		left 4px
		border-top 5px solid aspect-color
		border-right 5px solid transparent
#arrow
	position absolute
	top 3px
	left 8px
	display inline-block
	width 0
	background-color #fff
	border-left 8px solid #fff
	border-top 5px solid aspect-color
	border-bottom 5px solid aspect-color
#big-logo-pic
	top 4px
	width 44px
	height 32px
	border-radius 8px
	background-color aspect-color
	position relative
	display inline-block
	&:after
		content ""
		position absolute
		top 32px
		left 8px
		border-top 10px solid aspect-color
		border-right 10px solid transparent
#big-arrow
	position absolute
	top 6px
	left 16px
	display inline-block
	width 0
	background-color white
	border-left 16px solid #fff
	border-top 10px solid aspect-color
	border-bottom 10px solid aspect-color
#breadcrumbs
	display inline-block
	font-size 0
	margin-left 48px
	.chosen
		color #fff
		background-color aspect-color
		text-shadow 0 0 2px #666
	.normal
		&:hover
			color aspect-color !important
#status
	position absolute
	right 0
	display inline-block
	height 36px
#online
	color white
	border-radius 3px
	background-color #55bb55
	border 1px solid #55bb55
	width 4px
	height 4px
	display inline-block
	vertical-align top
	margin-top 15px
	&.invalid
		background-color #f00 !important
		border 1px solid #f00
#disconnect
	line-height 16px
	padding 4px 8px 4px 8px
#select, #edit, #post
	font-size 12px
	cursor pointer
	display: inline-block
	padding-right 6px
	padding-left 6px
	position relative
	&.chosen:after
		content ""
		top 0
		right 0
		margin-right -12px
		position absolute
		border-left 12px solid aspect-color
		border-top 18px solid transparent
		border-bottom 18px solid transparent
#edit, #post
	margin-left 12px
#page
	box-sizing(border-box)
	overflow-y auto
	display block
	position absolute
	top 36px
	bottom 48px
	width 100%
#page-container
	font-size 0 !important
	margin 0 auto
	height 100%
	position relative
#answer-page
	.container
		display inline-block
		margin-top 16px
	.message-wrapper, .contact-wrapper
		display inline-block
		vertical-align top
	.contact-wrapper
		width 220px
		margin-left 16px
	.message
		margin-top 0
		margin-left 0
#select-page
	font-size 0
	overflow hidden
	position absolute
	top 0
	bottom 0
	left 0
	right 0
	.container
		position absolute
		top 0
		bottom 0
		width 100%
		//height 100% !important
		box-sizing(border-box)
		overflow auto
		padding 8px 0 0 16px
		&.shifted
			margin-top 36px
		.patterns
			margin-bottom 16px
	.message
		margin 8px
	.load-holder
		margin-left 8px
		width 848px
		.button-special 
			width 100%
		&.bottom
			.button-special
				margin-bottom 24px
				-webkit-animation pulse 0.75s infinite ease-in-out
	.teaser
		font-size 14px
		text-align center
		font-weight bold
		left 0
		top 36px
		width 100%
		margin 0 auto
		height 36px
		line-height 36px
		box-sizing(border-box)
		position fixed
		z-index 9
		background-color #fccd59
		color #fff
		text-shadow 1px 1px 1px #9b7555
		box-shadow 0 0 6px #888
		cursor pointer
		.cross
			float right
			position inline-block
			cursor default
			text-decoration none !important
			padding-left 16px
			padding-right 16px
#edit-page
	font-size 0
	position absolute
	overflow hidden
	top 0
	bottom 0
	left 0
	right 0
	>div
		display table
		width 100%
		height 100%
		table-layout fixed
	.message-holder, .editor-holder
		display table-cell
		position relative
		vertical-align top
	.message-holder
		width 462px
		.prewrapper
			margin-left 24px
			margin-top 16px
			.message-wrapper
				position relative
			.wrap
				width 100%
				height 100%
				position absolute
				top 0
				left 0
				z-index 20
				background-color rgba(255, 255, 255, 0.9)
			.controls
				display table
				width 100%
				height 100%
				.line
					display table-cell
					vertical-align middle
	.editor-holder
		height 100%
		.editor
			position relative
			width 100%
			height 100%
			box-sizing(border-box)
			.wrapper
				position absolute
				top 0
				bottom 0
				left 0
				right 0
				overflow-y auto
				overflow-x	hidden
				padding 16px 16px 0 2px
		.memos, .images, .texts
			margin-bottom 4px
		.section
			margin-bottom 4px
		.texts
			width 100%
			display table
			table-layout fixed
			.film-text
				font-size 12px
				display	table-row
				.character-holder, .film-text-items
					display table-cell
					vertical-align top
				.character-holder
					width 108px
		.memo
			width 100%
		.character
			box-sizing(border-box)
			border 1px solid #ddd
			border-radius 2px
			height 33px
			margin-bottom 8px
			margin-right 8px
			cursor pointer
			user-select(none)
			&:hover, &:active
				border 1px solid aspect-color
				box-shadow 0 0 2px aspect-color !important
			&.invalid
				background-color #ff6
				box-shadow 0 0 2px #ff6
			.character-image, .character-name
				display inline-block
				height 31px
				vertical-align top
			.character-image
				margin-left 4px
			.character-name
				line-height 31px
		.film-text-items
			.film-text-item
				&:last-child
					margin-bottom 8px !important
			.text, .gag, .action
				vertical-align top
				padding-left 12px
				padding-right 12px
				margin-bottom 4px
				margin-right 2px
			.mood, .animation-type
				margin-bottom 4px
				margin-right 2px
				vertical-align top
			.text
				font-family monospace
				height 33px
				margin-left 0
				max-width 100%
				border 1px solid aspect-color
				&:hover
					border 1px solid aspect-color
					color #666
					box-shadow 0 0 2px aspect-color
				&:focus
					color #333
				&.invalid
					background-color #ff6
			.gag, .action, .mood, .animation-type
				display inline-block
				cursor pointer
				box-sizing(border-box)
				user-select(none)
				text-align center
				height 33px
				line-height 33px
			.gag, .action
				color white
				border-radius 2px
				text-shadow 0 0 2px #666
				&.invalid
					color #ff6 !important
			.gag
				background-color #5b5
				&:hover
					box-shadow 0 0 2px #5b5
			.action
				background-color aspect-color
				&:hover
					box-shadow 0 0 2px aspect-color
			.mood
				border-radius 2px
				&:hover
					.icon
					.happy, .calm, .amaze
						box-shadow 0 0 2px #ffc944 -#333
					.anger 
						box-shadow 0 0 2px #eb0542 - #333
					.sad
						box-shadow 0 0 2px #adcdec - #333
				.icon
					color black
					width 31px
					height 31px
					border-radius 16px
					transform rotate(90deg)
					font-size 16px
					line-height 28px
				&.invalid
					background-color #ff6 !important
			.animation-type
				border-radius 2px
				width 33px
				&.invalid
					box-shadow 0 0 2px #ff6 !important
				&:hover
					box-shadow 0 0 2px aspect-color
				.icon
					border-radius 2px
					width 100%
					height 100%
#post-page
	font-size 0
	position absolute
	top 0
	bottom 0
	right 0
	left 0
	>div
		display table
		width 100%
		height 100%
		.tabs, .container
			display table-row
		.tabs
			height 38px
			background-color #efefef
			text-align center
			position relative
			.strike
				height 38px
				border-bottom 1px solid #ddd
			.tab
				background-color white
				font-size 12px
				display inline-block
				height 32px
				line-height 32px
				border 1px solid #ddd
				padding-left 16px
				padding-right 16px
				margin-top 5px
				margin-left 2px
				margin-right 2px
				border-top-right-radius 2px
				border-top-left-radius 2px
				&.normal
					cursor pointer
					&:hover
						color aspect-color
				&.chosen
					cursor default
					border-bottom 1px solid white
					color aspect-color
		.container
			width 100%
			height 100%
			.contact-search
				width 100%
				height 100%
				>div
					display table
					width 100%
					height 100%
					 table-layout fixed
					.header
						display table-row
						height 1%
					.body
						display table-row
					.receiver-place, .search-place
						display table-cell
						vertical-align top
					.receiver-place
						padding-left 16px
						width 145px
						.receiver-holder
							vertical-align top
							padding-top 6px
						.section
							width 100%
							margin-top 12px
							margin-bottom 0
					.search-place
						padding-right 20px
						>.prewrapper
							box-sizing(border-box)
							width 100%
							height 100%
							position relative
							>.wrapper
								position absolute
								top 0
								bottom 0
								right 0 
								left 0
								padding-top 6px
								overflow auto
						.query
							width 100%
							margin-right 12px
							margin-top 12px
							margin-bottom 4px
				.shadow
					width 100%
					position absolute
					z-index 10
					height 6px
					background-image linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%)
				.load-holder
					margin-left 2px
					margin-top 18px
					margin-bottom 18px
					width 718px
					.button-special
						width 100%
.message
	display inline-block
	box-sizing(border-box)
	border 1px solid #ddd
	border-radius 2px
	background-color #fff
	vertical-align top
	&.normal
		cursor pointer
	&.normal:hover
		border 1px solid #888
	&.chosen
		border 1px solid aspect-color
		box-shadow 0 0 2px aspect-color
	.content
		background-color #fff
		display inline-block
		width 403px
		height 403px
		overflow hidden
		margin 10px
		font-size 16px
.button
	user-select(none)
	border 1px solid #ddd
	display inline-block
	padding 8px
	cursor pointer
	border-radius 2px
	font-size 12px
	&:hover
		border 1px solid aspect-color
		box-shadow 0 0 1px aspect-color
		color aspect-color
	&:active
		color #fff
		border 1px solid aspect-color
		background-color aspect-color
		box-shadow 0 0 2px aspect-color
		text-shadow 0 0 2px #666
.button-special
	user-select(none)
	display inline-block
	padding 8px
	cursor pointer
	border-radius 2px
	font-size 12px
	background-color aspect-color
	border 1px solid aspect-color
	text-shadow 0 0 2px #666
	color white
	&:hover
		box-shadow 0 0 2px aspect-color
	&:active
		border 1px solid active-aspect-color
		background-color active-aspect-color
		box-shadow 0 0 2px active-aspect-color
.load-holder
	text-align center
	font-size 12px
#footer
	text-align center
	position fixed
	width default-width
	bottom 0
	font-size 12px
	padding-top 6px
	padding-bottom 6px
	height 36px
	background-color #fff
	box-shadow 0 0 6px #888
	.button-special
		box-sizing(border-box)
		line-height 34px
		padding-top 0
		padding-bottom 0
#dialog-background
	display table
	position fixed
	top 0
	bottom 0
	left 0
	width default-width
	z-index 900
	height 100%
	background-color rgba(255, 255, 255, 0.9)
	.dialog-wrapper
		display table-cell
		vertical-align middle
		text-align center
		.dialog-window
			display inline-block
			background-color white
			border 1px solid aspect-color
			box-shadow 0 0 5px aspect-color
			border-radius 2px
			&.error
				box-shadow 0 0 5px #f00 !important
				border 1px solid #f00 !important
				.button
					&:hover
						border 1px solid #f00 !important
						box-shadow 0 0 1px #f00 !important
						color #f00 !important
					&:active
						background-color #f00 !important
						border 1px solid #f00 !important
						box-shadow 0 0 1px solid #f00 !important
						color white !important
			.title-holder
				height 36px
				font-weight bold
				line-height 36px
				color #333
				font-size 14px
				border-bottom 1px solid #ddd
			.controls-holder
				width 100%
				padding 0 2px 0 2px
				display table
				box-sizing(border-box)
				border-spacing 6px 0
				table-layout fixed
				.button
					display table-cell
#post-dialog
	font-size 12px
	width 360px
	height 220px
	.content
		height 140px
		line-height 140px
	.status
		line-height 22px
		white-space pre
		vertical-align middle
		display inline-block
#skip-answer-dialog
	font-size 12px
	width 360px
	height 220px
	.content
		height 140px
		line-height 140px
	.status
		line-height 22px
		white-space pre
		vertical-align middle
		display inline-block
#update-message-dialog
	font-size 12px
	width 360px
	height 220px
	.content
		height 140px
		line-height 140px
	.status
		line-height 22px
		white-space pre
		vertical-align middle
		display inline-block
#ask-message-dialog
	font-size 12px
	width 360px
	height 220px
	.content
		height 140px
		line-height 140px
	.status
		line-height 22px
		white-space pre
		vertical-align middle
		display inline-block
#error-dialog
	font-size 12px
	width 360px
	height 220px
	box-shadow 0 0 5px #f00 !important
	border 1px solid #f00 !important
	.content
		height 140px
		line-height 140px
	.status
		line-height 22px
		white-space pre
		vertical-align middle
		display inline-block
	.button
		padding-left 12px
		padding-right 12px
		margin-left 3px
		margin-right 3px
		&:hover
			border 1px solid #f00 !important
			box-shadow 0 0 1px #f00 !important
			color #f00 !important
		&:active
			background-color #f00 !important
			border 1px solid #f00 !important
			box-shadow 0 0 1px #f00 !important
			color white !important
#characters-dialog
	font-size 12px
	width 428px
	height 308px
	.title-holder
		position relative
	.content
		height 140px
		padding-top 5px
		.character-item
			display inline-block
			vertical-align top
			padding 4px;
			border-radius 2px
			border 1px solid #fff
			margin-left 1px
			margin-top 1px
			cursor pointer
			&.normal
				&:hover
					border 1px solid #888
			&.chosen
				border 1px solid aspect-color
				box-shadow 0 0 1px aspect-color
				cursor default
			.character-image
				width: 72px
				height 72p
	.cross
		width 12px
		height 12px
		line-height 12px
		padding 4px
		right 8px
		top 7px
		float right
		position absolute
		color #f00
		border 1px solid #f00
		&:hover
			box-shadow 0 0 2px #f00
		&:active
			background-color #f00
			box-shadow 0 0 2px #f00
			color #fff
#moods-dialog, #actions-dialog, #gags-dialog, #animation-types-dialog
	font-size: 12px
	.title-holder
		position relative
	.cross
		width 12px
		height 12px
		line-height 12px
		padding 4px
		right 8px
		top 7px
		float right
		position absolute
		color #f00
		border 1px solid #f00
		&:hover
			box-shadow 0 0 2px #f00
		&:active
			background-color #f00
			box-shadow 0 0 2px #f00
			color #fff
#moods-dialog
	width 360px
	height 123px
	.content
		height 90px
	.mood-item
		width 48px
		height 48px
		display inline-block
		user-select(none)
		margin-top 12px
		margin-left 3px
		margin-right 3px
		cursor pointer
		border 1px solid white
		border-radius 2px
		padding 6px
		&.normal
			&:hover
				border 1px solid #888
		&.chosen
			border 1px solid aspect-color
			box-shadow 0 0 1px aspect-color
			cursor default
		.icon
			display:
			width 100%
			height 100%
			border-radius 24px
			transform(rotate(90deg))
			box-sizing(border-box)
			font-size 26px
			line-height 40px
			color black
			box-shadow 0 0 5px #ddd
#gags-dialog
	width 370px
	.content
		margin-top 9px
		margin-bottom 9px
	.gag-item
		padding 6px 12px 6px 12px
		margin 3px
		border 1px solid #ddd
		display inline-block
		user-select(none)
		border-radius 2px
		&.normal
			cursor pointer
			&:hover
				background-color #5b5 
				border 1px solid #5b5
				color white
				text-shadow 0 0 2px #666
		&.chosen
			background-color #5b5
			border 1px solid #5b5
			color white
			text-shadow 0 0 2px #666
			cursor default
#actions-dialog
	width 370px
	.content 
		margin-top 9px
		margin-bottom 9px
	.action-item
		padding 6px 12px 6px 12px
		margin 3px
		border 1px solid #ddd
		display inline-block
		user-select(none)
		border-radius 2px
		&.normal
			cursor pointer
			&:hover
				background-color aspect-color 
				border 1px solid aspect-color
				color white
				text-shadow 0 0 2px #666
		&.chosen
			background-color aspect-color
			border 1px solid aspect-color
			color white
			text-shadow 0 0 2px #666
			cursor default
#animation-types-dialog
	width 280px
	.content
		margin-top 9px
		margin-bottom 9px
	.animation-type-item
		display inline-block
		width 64px
		height 64px
		margin 3px
		border 1px solid white
		border-radius 2px
		.icon
			width 100%
			height 100%
		&.normal
			cursor pointer
			&:hover
				border 1px solid #888
		&.chosen
			border 1px solid aspect-color
			box-shadow 0 0 1px aspect-color
			cursor default
#image-select-dialog
	font-size 12px
	width 720px
	height 480px
	.title-holder
		position relative
	.content
		height 443px
		padding 10px
		overflow-y auto
		overflow-x hidden
		box-sizing(border-box)
		.image-item
			margin-left 4px
			margin-right 4px
			.image
				max-width 320px
	.button-special
		width 100%
		box-sizing(border-box)
	.cross
		width 12px
		height 12px
		line-height 12px
		padding 4px
		right 8px
		top 7px
		float right
		position absolute
		color #f00
		border 1px solid #f00
		&:hover
			box-shadow 0 0 2px #f00
		&:active
			background-color #f00
			box-shadow 0 0 2px #f00
			color #fff
#preload-background
	display table
	position fixed
	top 0
	bottom 0
	left 0
	width default-width
	z-index 100
	height 100%
	background-color #fff
	.wrapper
		display table-cell
		vertical-align middle
		text-align center
	.info
		display inline-block
	.title
		font-size 32px
		font-weight bold
		color #333
	.content
		margin-top 32px
#chrome
	font-size 12px
	position absolute
	width 350px
	text-align center
	left 285px
	bottom 5px
	.chrome-image, .opera-image, .safari-image, .yandex-image, .firefox-image
		width 64px
		height 64px
#group
	display inline-block
	height 32px
	margin-top 2px
	margin-right 8px
	padding-right 8px
	user-select(none)
	cursor pointer
	color #fff
	background-color #5b5
	text-shadow 0 0 2px #666
	border-radius 2px
	&:hover
		background-color #4a4
	&:active
		background-color #393
#bender
	width 32px
	height 32px
#group-text
	display inline-block
	height 32px
	line-height 12px
	vertical-align top
	padding-top 4px
	padding-bottom 4px
	box-sizing(border-box)
.contact
	vertical-align top
	font-size 0
	margin-left 1px
	margin-bottom 1px
	width 120px
	display inline-block
	text-align center
	cursor pointer
	border 1px solid #fff
	border-radius 2px
	&.normal
		cursor pointer
	&.normal:hover
		border 1px solid #888
	&.chosen
		border 1px solid aspect-color
		box-shadow 0 0 1px aspect-color
		cursor default
	.photo
		padding-top 10px
		padding-bottom 5px
		width 100px
		height 100px
	.name
		margin-left 1px
		margin-right 1px
		font-size 10px
		padding-bottom 5px
		display inline-block
		white-space pre-wrap
		cursor pointer
		&:hover
			color aspect-color
			text-decoration underline
.message-wrapper
	display inline-block
	height 100%
	.message
		margin-top 0
.tools
	display inline-block
	width 430px
	padding-right 20px
	vertical-align top
	margin-left 10px
	text-align left
	height 100%
	position absolute
	right 0
	overflow-y auto
	overflow-x hidden
.section
	display inline-block
	color aspect-color
	border 1px solid #fff
	font-size 12px
	font-weight bold
	padding 8px
	margin-bottom 10px
	border-radius 2px
.text
	margin-top 0
	color #666
	font-size 12px
	padding 8px
	border 1px solid #ddd
	//width 100%
	margin-bottom 8px
	box-sizing(border-box)
	border-radius 2px
	&:hover
		color #333
		border 1px solid #888
	&:focus
		color #333
		border 1px solid aspect-color
		box-shadow 0 0 2px aspect-color
.no-reply
	color #ccc
	font-size 12px
	padding 8px
	margin-bottom 8px
	border 1px solid #fff
.image-item
	font-size 0
	padding 2px
	border 1px solid #ddd
	display inline-block
	border-radius 2px
	vertical-align top
	cursor wait
	margin-right 8px
	margin-bottom 8px
	&.ready
		cursor pointer
		&:hover
			border 1px solid #888
.controls
	float right
	text-align center
	display inline-block
	.reset
		margin-right 0 !important
	.button-special
		margin-right 10px
.cell
	display table-cell
	vertical-align top
.closed
	opacity 0.5
.happy, .calm, .amaze
	background-color #ffc944
	border 1px solid #ffc944 -#333
.anger 
	background-color #eb0542
	border 1px solid #eb0542 - #333
.sad
	background-color #adcdec
	border 1px solid #adcdec - #333
@-webkit-keyframes pulse
	0%
		-webkit-box-shadow 0 0 50px rgba(aspect-color, 0.0)
	50% 
		-webkit-box-shadow 0 0 50px rgba(aspect-color, 1.0)
	100%
		-webkit-box-shadow 0 0 50px rgba(aspect-color, 0.0)