* {
  outline: 0;
}
html,
body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  display: block;
  font-family: 'Open Sans', Verdana;
  color: #666;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  margin: 0 auto;
}
::-webkit-scrollbar-thumb {
  background-color: #ddd;
}
.hidden {
  display: none !important;
}
#menu {
  -webkit-user-select: none;
  user-select: none;
  position: fixed;
  top: 0;
  font-size: 12px;
  width: 920px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0 0 6px #888;
}
#menu-container {
  vertical-align: top;
  position: relative;
  text-align: center;
  margin-left: 12px;
  margin-right: 12px;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
#logo {
  position: absolute;
  left: 0;
  font-size: 14px !important;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}
#logo:hover {
  color: #28f;
}
#logo,
#breadcrumbs {
  display: inline-block;
}
#logo-pic {
  top: 3px;
  width: 22px;
  height: 16px;
  border-radius: 4px;
  background-color: #28f;
  position: relative;
  display: inline-block;
}
#logo-pic:after {
  content: "";
  position: absolute;
  top: 16px;
  left: 4px;
  border-top: 5px solid #28f;
  border-right: 5px solid transparent;
}
#arrow {
  position: absolute;
  top: 3px;
  left: 8px;
  display: inline-block;
  width: 0;
  background-color: #fff;
  border-left: 8px solid #fff;
  border-top: 5px solid #28f;
  border-bottom: 5px solid #28f;
}
#big-logo-pic {
  top: 4px;
  width: 44px;
  height: 32px;
  border-radius: 8px;
  background-color: #28f;
  position: relative;
  display: inline-block;
}
#big-logo-pic:after {
  content: "";
  position: absolute;
  top: 32px;
  left: 8px;
  border-top: 10px solid #28f;
  border-right: 10px solid transparent;
}
#big-arrow {
  position: absolute;
  top: 6px;
  left: 16px;
  display: inline-block;
  width: 0;
  background-color: #fff;
  border-left: 16px solid #fff;
  border-top: 10px solid #28f;
  border-bottom: 10px solid #28f;
}
#breadcrumbs {
  display: inline-block;
  font-size: 0;
  margin-left: 48px;
}
#breadcrumbs .chosen {
  color: #fff;
  background-color: #28f;
  text-shadow: 0 0 2px #666;
}
#breadcrumbs .normal:hover {
  color: #28f !important;
}
#status {
  position: absolute;
  right: 0;
  display: inline-block;
}
#online {
  color: #fff;
  border-radius: 2px;
  background-color: #5b5;
  border: 1px solid #5b5;
  height: 16px;
  line-height: 16px;
  padding: 4px 8px 4px 8px;
  margin-top: 5px;
  display: inline-block;
  margin-left: 3px;
}
#online.invalid {
  background-color: #f00 !important;
  border: 1px solid #f00;
}
#disconnect {
  line-height: 16px;
  padding: 4px 8px 4px 8px;
}
#select,
#edit,
#post {
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  padding-right: 6px;
  padding-left: 6px;
  position: relative;
}
#select.chosen:after,
#edit.chosen:after,
#post.chosen:after {
  content: "";
  top: 0;
  right: 0;
  margin-right: -12px;
  position: absolute;
  border-left: 12px solid #28f;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
}
#edit,
#post {
  margin-left: 12px;
}
#page {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
  display: block;
  position: absolute;
  top: 36px;
  bottom: 48px;
  width: 100%;
}
#page-container {
  font-size: 0 !important;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
#answer-page .container {
  display: inline-block;
  margin-top: 16px;
}
#answer-page .message-wrapper,
#answer-page .contact-wrapper {
  display: inline-block;
  vertical-align: top;
}
#answer-page .contact-wrapper {
  width: 220px;
  margin-left: 16px;
}
#answer-page .message {
  margin-top: 0;
  margin-left: 0;
}
#select-page {
  font-size: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#select-page .container {
  width: 100%;
  height: 100% !important;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  padding: 8px 0 0 16px;
}
#select-page .container .patterns {
  margin-bottom: 16px;
}
#select-page .message {
  margin: 8px;
}
#select-page .load-holder {
  margin-left: 8px;
  width: 848px;
}
#select-page .load-holder .button-special {
  width: 100%;
}
#select-page .load-holder.bottom .button-special {
  margin-bottom: 24px;
}
#edit-page {
  font-size: 0;
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#edit-page .message-wrapper {
  position: relative;
  margin-left: 16px;
}
#edit-page .message-wrapper .wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: rgba(255,255,255,0.9);
}
#edit-page .message-wrapper .controls {
  display: table;
  width: 100%;
  height: 100%;
}
#edit-page .message-wrapper .controls .line {
  display: table-cell;
  vertical-align: middle;
}
#edit-page .message-editor {
  position: absolute;
  top: 16px;
  bottom: 0;
  left: 8px;
  right: 0;
  display: inline-block;
  vertical-align: top;
}
#edit-page .container {
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#edit-page .title {
  font-weight: bold;
  color: #333;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 6px;
  height: 16px;
  text-align: center;
}
#post-page {
  font-size: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  padding: 14px 0 0 16px;
}
#post-page .container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#post-page .receiver-wrapper,
#post-page .search-wrapper {
  padding-top: 2px;
  vertical-align: top;
  position: relative;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#post-page .receiver-wrapper {
  width: 145px;
  float: left;
}
#post-page .receiver-wrapper .section {
  margin-bottom: 10px;
}
#post-page .search-wrapper {
  font-size: 12px;
  margin-left: 145px;
}
#post-page .search-wrapper >.wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
#post-page .search-wrapper .load-holder {
  margin-left: 2px;
  margin-top: 16px;
  width: 718px;
}
#post-page .search-wrapper .load-holder .button-special {
  width: 100%;
}
#post-page .search-wrapper .search {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
#post-page .search-wrapper .search .search-controls,
#post-page .search-wrapper .search .search-results {
  display: block;
  position: absolute;
}
#post-page .search-wrapper .search .search-controls {
  height: 39px;
  padding-right: 16px;
}
#post-page .search-wrapper .search .search-controls .query {
  width: 738px;
  margin-bottom: 6px;
}
#post-page .search-wrapper .search .search-results {
  top: 39px;
  bottom: 0;
}
#post-page .search-wrapper .search .search-results .shadow {
  width: 100%;
  position: absolute;
  z-index: 10;
  height: 6px;
  background-image: linear-gradient(to bottom, #fff 0%, rgba(255,255,255,0) 100%);
}
#post-page .search-wrapper .search .search-results .wrap {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 6px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}
.message {
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 2px;
  background-color: #fff;
  vertical-align: top;
}
.message.normal {
  cursor: pointer;
}
.message.normal:hover {
  border: 1px solid #888;
}
.message.chosen {
  border: 1px solid #28f;
  box-shadow: 0 0 2px #28f;
}
.message .content {
  background-color: #fff;
  display: inline-block;
  width: 403px;
  height: 403px;
  overflow: hidden;
  margin: 10px;
  font-size: 16px;
}
.button {
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid #ddd;
  display: inline-block;
  padding: 8px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 12px;
}
.button:hover {
  border: 1px solid #28f;
  box-shadow: 0 0 1px #28f;
  color: #28f;
}
.button:active {
  color: #fff;
  border: 1px solid #28f;
  background-color: #28f;
  box-shadow: 0 0 2px #28f;
  text-shadow: 0 0 2px #666;
}
.button-special {
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
  padding: 8px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 12px;
  background-color: #28f;
  border: 1px solid #28f;
  text-shadow: 0 0 2px #666;
  color: #fff;
}
.button-special:hover {
  box-shadow: 0 0 2px #28f;
}
.button-special:active {
  border: 1px solid #26d;
  background-color: #26d;
  box-shadow: 0 0 2px #26d;
}
.load-holder {
  text-align: center;
  font-size: 12px;
}
#footer {
  text-align: center;
  position: fixed;
  width: 920px;
  bottom: 0;
  font-size: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  height: 36px;
  background-color: #fff;
  box-shadow: 0 0 6px #888;
}
#footer .button-special {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 34px;
  padding-top: 0;
  padding-bottom: 0;
}
#dialog-background {
  display: table;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 920px;
  z-index: 900;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
}
#dialog-background .dialog-wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#dialog-background .dialog-wrapper .dialog-window {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #28f;
  box-shadow: 0 0 5px #28f;
  border-radius: 2px;
}
#dialog-background .dialog-wrapper .dialog-window.error {
  box-shadow: 0 0 5px #f00 !important;
  border: 1px solid #f00 !important;
}
#dialog-background .dialog-wrapper .dialog-window.error .button:hover {
  border: 1px solid #f00 !important;
  box-shadow: 0 0 1px #f00 !important;
  color: #f00 !important;
}
#dialog-background .dialog-wrapper .dialog-window.error .button:active {
  background-color: #f00 !important;
  border: 1px solid #f00 !important;
  box-shadow: 0 0 1px solid #f00 !important;
  color: #fff !important;
}
#dialog-background .dialog-wrapper .dialog-window .title-holder {
  height: 36px;
  font-weight: bold;
  line-height: 36px;
  color: #333;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}
#dialog-background .dialog-wrapper .dialog-window .controls-holder {
  width: 100%;
  padding: 0 2px 0 2px;
  display: table;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-spacing: 6px 0;
  table-layout: fixed;
}
#dialog-background .dialog-wrapper .dialog-window .controls-holder .button {
  display: table-cell;
}
#post-dialog {
  font-size: 12px;
  width: 360px;
  height: 220px;
}
#post-dialog .content {
  height: 140px;
  line-height: 140px;
}
#post-dialog .status {
  line-height: 22px;
  white-space: pre;
  vertical-align: middle;
  display: inline-block;
}
#skip-answer-dialog {
  font-size: 12px;
  width: 360px;
  height: 220px;
}
#skip-answer-dialog .content {
  height: 140px;
  line-height: 140px;
}
#skip-answer-dialog .status {
  line-height: 22px;
  white-space: pre;
  vertical-align: middle;
  display: inline-block;
}
#update-message-dialog {
  font-size: 12px;
  width: 360px;
  height: 220px;
}
#update-message-dialog .content {
  height: 140px;
  line-height: 140px;
}
#update-message-dialog .status {
  line-height: 22px;
  white-space: pre;
  vertical-align: middle;
  display: inline-block;
}
#ask-message-dialog {
  font-size: 12px;
  width: 360px;
  height: 220px;
}
#ask-message-dialog .content {
  height: 140px;
  line-height: 140px;
}
#ask-message-dialog .status {
  line-height: 22px;
  white-space: pre;
  vertical-align: middle;
  display: inline-block;
}
#error-dialog {
  font-size: 12px;
  width: 360px;
  height: 220px;
  box-shadow: 0 0 5px #f00 !important;
  border: 1px solid #f00 !important;
}
#error-dialog .content {
  height: 140px;
  line-height: 140px;
}
#error-dialog .status {
  line-height: 22px;
  white-space: pre;
  vertical-align: middle;
  display: inline-block;
}
#error-dialog .button {
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 3px;
  margin-right: 3px;
}
#error-dialog .button:hover {
  border: 1px solid #f00 !important;
  box-shadow: 0 0 1px #f00 !important;
  color: #f00 !important;
}
#error-dialog .button:active {
  background-color: #f00 !important;
  border: 1px solid #f00 !important;
  box-shadow: 0 0 1px #f00 !important;
  color: #fff !important;
}
#characters-dialog {
  font-size: 12px;
  width: 428px;
  height: 308px;
}
#characters-dialog .title-holder {
  position: relative;
}
#characters-dialog .content {
  height: 140px;
  padding-top: 5px;
}
#characters-dialog .content .character-item {
  display: inline-block;
  vertical-align: top;
  padding: 4px;
  border-radius: 2px;
  border: 1px solid #fff;
  margin-left: 1px;
  margin-top: 1px;
  cursor: pointer;
}
#characters-dialog .content .character-item.normal:hover {
  border: 1px solid #888;
}
#characters-dialog .content .character-item.chosen {
  border: 1px solid #28f;
  box-shadow: 0 0 1px #28f;
  cursor: default;
}
#characters-dialog .content .character-item .character-image {
  width: 72px;
  height: 72 p;
}
#characters-dialog .cross {
  width: 12px;
  height: 12px;
  line-height: 12px;
  padding: 4px;
  right: 8px;
  top: 7px;
  float: right;
  position: absolute;
  color: #f00;
  border: 1px solid #f00;
}
#characters-dialog .cross:hover {
  box-shadow: 0 0 2px #f00;
}
#characters-dialog .cross:active {
  background-color: #f00;
  box-shadow: 0 0 2px #f00;
  color: #fff;
}
#image-select-dialog {
  font-size: 12px;
  width: 360px;
  height: 220px;
}
#image-select-dialog .title-holder {
  position: relative;
}
#image-select-dialog .content {
  height: 140px;
  line-height: 140px;
}
#image-select-dialog .cross {
  width: 12px;
  height: 12px;
  line-height: 12px;
  padding: 4px;
  right: 8px;
  top: 7px;
  float: right;
  position: absolute;
  color: #f00;
  border: 1px solid #f00;
}
#image-select-dialog .cross:hover {
  box-shadow: 0 0 2px #f00;
}
#image-select-dialog .cross:active {
  background-color: #f00;
  box-shadow: 0 0 2px #f00;
  color: #fff;
}
#preload-background {
  display: table;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 920px;
  z-index: 100;
  height: 100%;
  background-color: #fff;
}
#preload-background .wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#preload-background .info {
  display: inline-block;
}
#preload-background .title {
  font-size: 32px;
  font-weight: bold;
  color: #333;
}
#preload-background .content {
  margin-top: 32px;
}
#chrome {
  font-size: 12px;
  position: absolute;
  width: 280px;
  text-align: center;
  left: 300px;
  bottom: 5px;
}
#chrome .chrome-image,
#chrome .opera-image,
#chrome .safari-image,
#chrome .yandex-image {
  width: 64px;
  height: 64px;
}
.contact {
  vertical-align: top;
  font-size: 0;
  margin-left: 1px;
  margin-bottom: 1px;
  width: 120px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 2px;
}
.contact.normal {
  cursor: pointer;
}
.contact.normal:hover {
  border: 1px solid #888;
}
.contact.chosen {
  border: 1px solid #28f;
  box-shadow: 0 0 1px #28f;
  cursor: default;
}
.contact .photo {
  padding-top: 10px;
  padding-bottom: 5px;
  width: 100px;
  height: 100px;
}
.contact .full-name {
  margin-left: 1px;
  margin-right: 1px;
  font-size: 10px;
  padding-bottom: 5px;
  display: inline-block;
  white-space: pre-wrap;
  cursor: pointer;
}
.contact .full-name:hover {
  color: #28f;
  text-decoration: underline;
}
.message-wrapper {
  display: inline-block;
  height: 100%;
}
.message-wrapper .message {
  margin-top: 0;
}
.tools {
  display: inline-block;
  width: 430px;
  padding-right: 20px;
  vertical-align: top;
  margin-left: 10px;
  text-align: left;
  height: 100%;
  position: absolute;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
.section {
  display: inline-block;
  color: #28f;
  border: 1px solid #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 2px;
}
.text {
  margin-top: 0;
  color: #666;
  font-size: 12px;
  padding: 8px;
  border: 1px solid #ddd;
  width: 100%;
  margin-bottom: 8px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
}
.text:hover {
  color: #333;
  border: 1px solid #888;
}
.text:focus {
  color: #333;
  border: 1px solid #28f;
  box-shadow: 0 0 2px #28f;
}
.no-reply {
  color: #ccc;
  font-size: 12px;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #fff;
}
.memos {
  margin-bottom: 10px;
}
.images {
  margin-bottom: 10px;
}
.images .image-item {
  padding: 2px;
  border: 1px solid #ddd;
  display: inline-block;
  border-radius: 2px;
  vertical-align: top;
}
.characters {
  width: 100%;
  padding: 0;
  margin: 0 0 10px;
  border-collapse: collapse;
}
.characters td {
  padding: 0;
}
.characters tr {
  vertical-align: top;
}
.characters .actor-wrapper {
  width: 100px;
  padding-right: 8px;
}
.actor {
  border: 1px solid #ddd;
  border-radius: 2px;
  height: 31px;
  vertical-align: middle;
  cursor: pointer;
}
.actor:hover {
  border: 1px solid #888;
}
.actor .actor-image {
  width: 30px;
  height: 31px;
  margin-left: 4px;
}
.actor .actor-name {
  height: 31px;
  line-height: 31px;
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
  margin-left: 6px;
}
.controls {
  float: right;
  text-align: center;
  display: inline-block;
}
.controls .reset {
  margin-right: 0 !important;
}
.controls .button-special {
  margin-right: 10px;
}
.invalid {
  background-color: #ffd !important;
}
.cell {
  display: table-cell;
  vertical-align: top;
}
.closed {
  opacity: 0.5;
}
